body {
  font-family: 'Oswald', sans-serif;
}
header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: rgba(139, 14, 14, 0.4);
  background: linear-gradient(to right, #a02323, #760000);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 70px;
  align-items: center;
}
header nav ul a {
  margin-right: 35px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.1s;
}
header nav ul a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px 10px #ffffff;
}
header nav .action {
  display: block;
  width: 150px;
  height: 35px;
  line-height: 32px;
  border-radius: 2px;
  border: 1px solid;
  background: #ad3030;
  color: #fff;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.05em;
  white-space: nowrap;
  transition: all 0.2s;
}
header nav .action:hover {
  text-decoration: none;
  background: #fff;
  color: #8b0e0e;
}
#s1 {
  background-image: url(../img/dead_space_funny_player_joystick_dark_monster_sofa-1011630.jpg);
  height: 100vh;
  min-height: 768px;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
}
#s1 h1 {
  font-family: 'Russo One', sans-serif;
  color: #fff;
  font-size: 70px;
  margin-top: 200px;
  letter-spacing: 0.1em;
  font-weight: 700;
}
#s1 h2 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.1em;
}
#s2 {
  height: 100vh;
  min-height: 768px;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
}
#s2 .container {
  display: flex;
  height: 100%;
  align-items: center;
}
#s2 .console {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
#s2 .console img {
  display: block;
  height: 450px;
}
#s2 .console-body {
  width: 400px;
  height: 500px;
  border: 1px solid #8b0e0e;
  background: linear-gradient(to right, #151515, #000000);
  box-shadow: 0 0 8px 0px #8b0e0e;
  border-radius: 2px;
  color: #fff;
}
#s2 .console-body .console-title {
  min-height: 70px;
  width: 100%;
  background: linear-gradient(to right, #a02323, #760000);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 0.05em;
  padding: 15px;
  text-align: center;
}
#s2 .console-body .console-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.03em;
}
#s2 .console-body .console-text b {
  font-size: 24px;
  font-weight: 700;
}
#s3 {
  height: 100vh;
  min-height: 768px;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
}
