body {
  background: #000;
  color: #fff;
}
.container,
body,
html {
  min-width: 1140px !important;
}
#s1,
#s2,
#s3,
#s4,
#s5 {
  height: 100vh;
  min-height: 768px;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
}
.section-title {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 80px;
  text-transform: uppercase;
}
header.active,
header.active nav ul {
  height: 55px;
}
header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: linear-gradient(to right, #a02323, #760000);
  transition: height 0.4s;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 70px;
  align-items: center;
  transition: height 0.4s;
}
header nav ul a {
  margin-right: 35px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.1s;
  padding: 0 5px;
}
header nav ul a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px 20px #ffffff;
}
header nav .action {
  display: inline-block;
  width: 150px;
  height: 35px;
  line-height: 32px;
  border-radius: 2px;
  border: 1px solid;
  background: #ad3030;
  color: #fff;
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  transition: all 0.2s;
}
header nav .action:hover {
  text-decoration: none;
  background: #fff;
  color: #8b0e0e;
}
#s1 {
  background-image: url(../img/dead_space_funny_player_joystick_dark_monster_sofa-1011630.jpg);
}
#s1 h1 {
  font-family: 'Russo One', sans-serif;
  color: #fff;
  font-size: 70px;
  margin-top: 200px;
  letter-spacing: 0.1em;
  font-weight: 700;
}
#s1 h2 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.0em;
}
#s2 .console {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
#s2 .console img {
  display: block;
  height: 450px;
}
#s2 .console-body {
  width: 420px;
  height: 500px;
  border: 1px solid #8b0e0e;
  background: linear-gradient(to right, #151515, #000000);
  border-radius: 2px;
  color: #fff;
}
#s2 .console-body .console-title {
  min-height: 70px;
  width: 100%;
  background: linear-gradient(to right, #a02323, #760000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 15px;
  text-align: center;
  font-style: italic;
}
#s2 .console-body .console-title p {
  font-style: normal;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
}
#s2 .console-body .console-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
}
#s2 .console-body .console-text .rates {
  font-weight: 600;
}
#s2 .console-body .console-text .rates .day {
  display: inline-block;
  min-width: 70px;
}
#s2 .console-body .console-text b {
  font-size: 22px;
  padding-left: 18px;
}
#s2 .console-body .console-text i {
  min-width: 60px;
  display: inline-block;
}
.games {
  margin: 150px 30px 20px 30px;
}
.games:focus {
  outline: none;
}
.games .game img {
  margin: 0 auto;
}
.slick-arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 30px;
  height: 70px;
  border: 0;
  color: transparent;
  display: block;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
}
.slick-arrow:focus {
  outline: none;
}
.slick-prev {
  background-image: url(../img/chevron-left-solid.svg);
  left: -35px;
  top: 50%;
}
.slick-next {
  background-image: url(../img/chevron-right-solid.svg);
  right: -35px;
  top: 50%;
}
.callme {
  font-size: 22px;
}
.phone {
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  letter-spacing: 0.1em;
}
