.text-center {
	text-align: center !important;
}

.text-white {
	color: #fff !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.font-weight-bold {
	font-weight: 700 !important;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.bg-light {
	background-color: #F5F5F5 !important;
}