$color-primary: #1f327d;

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.lh-lg {
    line-height: 1.8;
}

.hr-lg {
    border-width: 2px;
}

.header {
    background-color: #ffffff;
    font-size: 0.75rem;
}

.footer {
    background-color: #31343d;
    font-size: 0.75rem;
}

.case {
    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #f1f3ff;
        font-size: 0.9375rem;
    }

    &__header {
        position: relative;
        flex: 1 1 auto;
        min-height: 3.25rem;

        &:hover .case__dropdown-list {
            display: block;
        }

        &--arrow {
            &::after {
                position: absolute;
                top: 50%;
                right: 0.625rem;
                width: 0.375rem;
                height: 0.625rem;
                background: url(../images/arrow-case.svg) center no-repeat;
                content: "";
                transform: translateY(-50%);
            }

            &:hover::after {
                transform: translateY(-50%) rotate(90deg);
            }
        }
    }

    &__name {
        display: block;
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        height: 100%;
        background-color: $color-primary;
        color: inherit;
        text-transform: uppercase;
        line-height: 1.2;

        &:hover {
            background-color: darken($color-primary, 5%);
            color: inherit;
            text-decoration: none;
        }
    }

    &__picture {
        flex: 0 0 auto;
        height: 150px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__dropdown-list {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        display: none;
        min-height: 150px;
        width: 100%;
        background-color: $color-primary;

        &:hover {
            display: block;
        }
    }

    &__dropdown-link {
        display: block;
        padding: 0.5rem 0.5rem;
        color: inherit;
        font-size: 0.75rem;
        line-height: 1;

        &:hover {
            background-color: darken($color-primary, 5%);
            color: inherit;
            text-decoration: none;
        }
    }
}

.news {
    display: block;
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.4;
    margin-bottom: 2rem;

    &:hover {
        color: $color-primary;
        text-decoration: none;
    }

    &__name {
        margin-bottom: 0.625rem;
        font-weight: bold;
    }
}

.slider-partners {
    padding: 0 40px;

    &__slide {
        &:focus {
            outline: none;
        }
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.slick-arrow {
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    color: transparent;
    text-shadow: none;
    font: 0/0 a;
    transform: translateY(-50%);

    &:focus {
        outline: none;
    }
}

.slick-prev {
    left: 0;
    background: transparent url(../images/arrow-prev-slider.svg) center no-repeat;
}

.slick-next {
    right: 0;
    background: url(../images/arrow-next-slider.svg) center no-repeat;
}

@media (max-width: 575px) {

    h1,
    .h1 {
        font-weight: bold;
        font-size: 1.6rem;
    }

    h2,
    .h2 {
        font-size: 1.4rem;
    }
}