$color-primary: #1f327d;
$color-dark: #2C3439;
$color-body: #848895;

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    flex: 1 1 auto;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.header {
    background-color: #ffffff;
    font-size: 0.75rem;
}

.footer {
    background-color: #31343d;
    font-size: 0.75rem;
}

.lh-lg {
    line-height: 1.8;
}

.hr-lg {
    border-width: 2px;
}

.fz-12 {
    font-size: 0.75rem;
}

.fz-14 {
    font-size: 0.875rem;
}

.case {
    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #f1f3ff;
        font-size: 0.9375rem;
    }

    &__header {
        position: relative;
        flex: 1 1 auto;

        &:hover .case__dropdown-list {
            display: block;
        }

        &--arrow {
            &::after {
                position: absolute;
                top: 50%;
                right: 0.625rem;
                width: 0.375rem;
                height: 0.625rem;
                background: url(../images/arrow-case.svg) center no-repeat;
                content: "";
                transform: translateY(-50%);
                pointer-events: none;
            }

            &:hover::after {
                transform: translateY(-50%) rotate(90deg);
            }
        }
    }

    &__name {
        display: block;
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        min-height: 3.25rem;
        background-color: $color-primary;
        color: inherit;
        text-transform: uppercase;
        line-height: 1.2;

        &:hover {
            background-color: darken($color-primary, 5%);
            color: inherit;
            text-decoration: none;
        }
    }

    &__picture {
        flex: 0 0 auto;
        height: 150px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__dropdown-list {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        display: none;
        min-height: 150px;
        width: 100%;
        background-color: $color-primary;

        &:hover {
            display: block;
        }
    }

    &__dropdown-link {
        display: block;
        padding: 0.5rem 0.5rem;
        color: inherit;
        font-size: 0.75rem;
        line-height: 1;

        &:hover {
            background-color: darken($color-primary, 5%);
            color: inherit;
            text-decoration: none;
        }
    }
}

.custom-nav {
    font-size: 14px;
    list-style: none;
    padding-left: 0;

    &__link {
        display: block;
        position: relative;
        color: $color-body;
        padding: 0.4375rem 0;
        line-height: 1.2;

        &:hover {
            color: $color-dark;
            text-decoration: none;

            &::before {
                opacity: 1;
                left: 0.25rem;
            }

            .custom-nav__text {
                left: 1rem;
            }
        }

        &::before {
            content: "";
            width: 6px;
            height: 10px;
            background: url(../images/arrow-custom-nav.svg) center no-repeat;
            position: absolute;
            top: 50%;
            left: -0.75rem;
            opacity: 0;
            transition: opacity 0.15s ease, left 0.15s ease;
            pointer-events: none;
            transform: translateY(-50%);
        }
    }

    &__text {
        position: relative;
        left: 0;
        transition: left 0.15s ease;
    }

}

.slick-arrow {
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    color: transparent;
    text-shadow: none;
    font: 0/0 a;
    transform: translateY(-50%);

    &:focus {
        outline: none;
    }
}

.slick-prev {
    left: 0;
    background: transparent url(../images/arrow-prev-slider.svg) center no-repeat;
}

.slick-next {
    right: 0;
    background: url(../images/arrow-next-slider.svg) center no-repeat;
}

.form-feedback {
    color: #c4c4c4;
}

.custom-list {
    list-style: none;
    padding-left: 5.625rem;

    li {
        position: relative;
        margin: 0 0 1rem;

        &::before {
            content: "";
            position: absolute;
            width: 0.3125rem;
            height: 0.3125rem;
            border-radius: 50%;
            background-color: $color-primary;
            top: 0.6875rem;
            left: -1.875rem
        }
    }
}

@media (max-width: 575px) {

    h1,
    .h1 {
        font-weight: bold;
        font-size: 1.6rem;
    }

    h2,
    .h2 {
        font-size: 1.4rem;
    }

    .custom-list {
        padding-left: 2.25rem;
    }
}