@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tablereservation {
  font-family: "Ubuntu", sans-serif;
  position: relative;
  overflow: hidden;
  max-width: 320px;
  width: 100%;
  background: linear-gradient(137.39deg, #18a7d4 0%, #6916a9 100%);
  color: #ffffff;
  margin: 0 auto;
}

.tr-scrollcontent {
  padding: 20px 20px 70px 20px;
}

.tr-header__topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.tr-header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 16px;
}

.tr-header__phone::before {
  margin-right: 10px;
  width: 18px;
  height: 16px;
  background-image: url(../img/phone.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}

.tr-header__infobtn {
  width: 20px;
  height: 20px;
  background-image: url(../img/infobtn.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tr-header__closebtn {
  width: 18px;
  height: 18px;
  background-image: url(../img/closebtn.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tr-header__title {
  margin-bottom: 35px;
  color: #6fcf97;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.tr-header__h2 {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
}

.tr-header__h1 {
  font-weight: 700;
  font-size: 20px;
}

.tr-step__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 20px;
}

#tr-timeform {
  text-align: center;
}

.tr-doubleinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.tr-doubleinput::before {
  content: ":";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  font-size: 60px;
  font-weight: 500;
}

.tr-input-toggle {
  position: relative;
  margin: 40px 0;
}

.tr-input-toggle_reverse {
  display: inline-block;
  width: 75%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 20px 0;
}

.tr-input-toggle_reverse input {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.tr-input-toggle_reverse .tr-plus {
  top: -15px;
}

.tr-input-toggle_reverse .tr-minus {
  bottom: -15px;
}

.tr-input-toggle input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  outline: none;
}

.tr-plus,
.tr-minus {
  position: absolute;
  z-index: 1;
  display: block;
  width: 51px;
  height: 30px;
  background-image: url(../img/inputtoggle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  left: 50%;
}

.tr-plus {
  top: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.tr-minus {
  bottom: 0;
  -webkit-transform: rotate(180deg) translate(50%, -100%);
          transform: rotate(180deg) translate(50%, -100%);
}

.tr-footer {
  position: absolute;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 50px;
}

.tr-footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 16px;
  width: 100%;
}

.tr-footer__btn_next {
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#27ae60));
  background: linear-gradient(180deg, #6fcf97 0%, #27ae60 100%);
}

.tr-footer__btn_next:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#6fcf97), to(#27ae60));
  background: linear-gradient(0deg, #6fcf97 0%, #27ae60 100%);
}

.tr-footer__btn_prev {
  background: -webkit-gradient(linear, left top, left bottom, from(#80c9e5), to(#18a7d4));
  background: linear-gradient(180deg, #80c9e5 0%, #18a7d4 100%);
}

.tr-footer__btn_prev:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#80c9e5), to(#18a7d4));
  background: linear-gradient(0deg, #80c9e5 0%, #18a7d4 100%);
}

#Datepickk {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}

#Datepickk .d-month-picker,
#Datepickk .d-year-picker {
  display: none;
}

#Datepickk .d-header {
  font-size: 20px;
}

#Datepickk .d-calendar,
#Datepickk .d-header {
  background-color: transparent;
}

#Datepickk .d-tables {
  margin-right: -10px;
  margin-left: -10px;
  color: #ffffff;
  font-size: 16px;
  min-height: 240px;
}

#Datepickk .d-table input + label.next,
#Datepickk .d-table input + label.prev {
  color: rgba(255, 255, 255, 0.5);
}

#Datepickk .d-table input + label::before {
  -webkit-transform-origin: center;
          transform-origin: center;
}

#Datepickk .d-tables:not(.locked) input:not(:checked) + label:not(.hidden):hover {
  background-color: transparent;
  color: #ffffff;
}

#Datepickk .d-table input + label:before {
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
  top: auto;
  left: auto;
}

#Datepickk .d-header i#d-previous,
#Datepickk .d-header i#d-next {
  width: 24px;
  height: 22px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
}

#Datepickk .d-header i#d-previous::before, #Datepickk .d-header i#d-previous::after,
#Datepickk .d-header i#d-next::before,
#Datepickk .d-header i#d-next::after {
  display: none;
}

#Datepickk .d-header i#d-previous {
  left: 0;
  background-image: url(../img/calendarPrev.svg);
  background-position: center left;
}

#Datepickk .d-header i#d-next {
  right: 0;
  background-image: url(../img/calendarNext.svg);
  background-position: center right;
}

#Datepickk .d-year:before {
  content: "20";
}
/*# sourceMappingURL=main.css.map */