@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");

.tablereservation {
    font-family: "Ubuntu", sans-serif;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 320px;
    // min-height: 568px;
    max-height: 568px;
    // width: 100%;
    // height: 100%;
    width: 100%;
    height: 99vh;
    background: linear-gradient(137.39deg, #18a7d4 0%, #6916a9 100%);
    color: #ffffff;
}

.tr-scrollcontent {
    padding: 20px;
    // min-height: 1000px;
}

.tr-header__topbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
}

.tr-header__phone {
    display: flex;
    align-items: center;
    text-decoration: underline;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 16px;

    &::before {
        margin-right: 10px;
        width: 18px;
        height: 16px;
        background-image: url(../img/phone.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
    }
}

.tr-header__infobtn {
    width: 20px;
    height: 20px;
    background-image: url(../img/infobtn.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tr-header__closebtn {
    width: 18px;
    height: 18px;
    background-image: url(../img/closebtn.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tr-header__title {
    color: #6FCF97;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 35px;
}

.tr-header__h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.tr-header__h1 {
    font-size: 20px;
    font-weight: 700;
}

.tr-step__title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-bottom: 10px;
}

.tr-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 50px;
}

.tr-footer__btn {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 16px;
}

.tr-footer__btn_next {
    background: linear-gradient(180deg, #6fcf97 0%, #27ae60 100%);
    &:hover {
        background: linear-gradient(0deg, #6fcf97 0%, #27ae60 100%);
    }
}

.tr-footer__btn_prev {
    background: linear-gradient(180deg, #80C9E5 0%, #18A7D4 100%);
    &:hover {
        background: linear-gradient(0deg, #80C9E5 0%, #18A7D4 100%);
    }
}
