.footer {
    color: #bdbdbd;
    font-size: 12px;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 20px;
    }

    a {
        color: #828282;
        transition: 0.15s ease;

        &:hover {
            color: $color-main;
        }
    }
}

.footer-border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.payment-cards {
    p {
        margin-bottom: 15px;
        color: #828282;
    }

    .payment-cards__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        img {
            margin: 0 40px 20px 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding: 0;
    list-style: none;

    li {
        margin: 0 5px 15px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #333;
        transition: 0.1s ease;

        &:hover {
            background-color: $color-main;
        }
    }
}
