html { height: 100%; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100%; color: #25292f; font-weight: 300; font-size: 18px; font-family: "Circe"; line-height: 1.2; overflow-x: hidden; overflow-y: auto; }

.overflow { overflow-y: hidden; }

.page { display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.header, .footer { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.page-content { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; padding-top: 100px; }

@media (max-width: 991px) { .page-content { padding-top: 65px; } }

.header { position: fixed; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100px; background-color: #ffffff; -webkit-transition: .4s ease; transition: .4s ease; }

@media (max-width: 991px) { .header { height: 65px; border-bottom: 1px solid #dbdbdb; } }

.header-logo { display: block; -webkit-transition: .4s ease; transition: .4s ease; -webkit-transform-origin: left; transform-origin: left; }

@media (max-width: 1199px) { .header-logo { -webkit-transform-origin: right; transform-origin: right; } }

@media (max-width: 991px) { .header-logo { -webkit-transform: scale(0.725); transform: scale(0.725); } }

.header-is-smaller .header { height: 65px; border-bottom: 1px solid #dbdbdb; }

.header-is-smaller .header-logo { -webkit-transform: scale(0.725); transform: scale(0.725); }

.button { display: inline-block; padding: 14px 18px; border: 1px solid #25292f; border-radius: 68px; background-color: #ffffff; color: #25292f; text-align: center; font-weight: 300; line-height: 1; cursor: pointer; -webkit-transition: .07s linear; transition: .07s linear; font-size: 18px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.button:hover { background-color: #25292f; color: #ffffff; text-decoration: none; }

.button:focus { outline: none; }

.button--primary { border-color: #f05023; background-color: #f05023; color: #ffffff; font-size: 22px; }

.button--primary:hover { border-color: #d2390e; background-color: #d2390e; }

.button--white { border-color: #ffffff; background-color: transparent; color: #ffffff; font-size: 22px; }

.button--white:hover { background-color: #ffffff; color: #f05023; }

.button--primary-reverse { border-color: #f05023; background-color: transparent; color: #f05023; }

.button--primary-reverse:hover { background-color: #f05023; color: #ffffff; }

.input { display: block; margin: 0 0 24px; padding: 0 30px; max-width: 460px; width: 100%; height: 54px; border: 1px solid #f05023; border-radius: 62px; background-color: rgba(255, 255, 255, 0.5); color: #25292f; line-height: 54px; -webkit-transition: .07s ease; transition: .07s ease; }

.input:focus { outline: none; background-color: #ffffff; }

.input::-webkit-input-placeholder { color: #25292f; }

.input:-ms-input-placeholder { color: #25292f; }

.input::-ms-input-placeholder { color: #25292f; }

.input::placeholder { color: #25292f; }

.input--alt { border-color: transparent; background-color: #ffffff; }

.input--alt:focus { border-color: #25292f; }

.header-menu { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0; padding: 0; list-style: none; }

.header-menu__link { display: block; margin: 10px; color: #25292f; }

.header-menu__link:hover { color: #f05023; text-decoration: none; }

.header-mail { display: inline-block; border-bottom: 1px solid #f05023; color: #f05023; }

.footer { background-color: #25292f; color: #ffffff; }

.top-section { padding: 48px 0 30px; background: url(../images/top-background.jpg) no-repeat center; background-size: cover; color: #ffffff; text-align: center; }

.section-title { text-transform: uppercase; letter-spacing: .05em; font-weight: 900; font-size: 40px; line-height: 1.5; }

@media (max-width: 991px) { .section-title { font-size: 22px; line-height: 1.2; }
  .section-title br { display: none; } }

.section-subtitle { text-transform: uppercase; letter-spacing: .05em; font-weight: 300; font-size: 24px; }

@media (max-width: 991px) { .section-subtitle { font-size: 18px; } }

.section-lead { font-weight: bold; font-size: 18px; }

.adv { margin: 0 0 10px; width: 168px; }

.adv__img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 0 10px; height: 90px; }

.adv__name { font-weight: bold; line-height: 1.1; }

.company-section { padding: 70px 0 50px; }

.company-section__lead { color: #696969; font-weight: bold; line-height: 1.05; }

.company-section__p { line-height: 1.4; }

.menu-toggler { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0; width: 36px; height: 36px; border: none; background-color: transparent; cursor: pointer; }

.menu-toggler:focus { outline: none; }

.menu-toggler span { position: relative; width: 20px; }

.menu-toggler span, .menu-toggler span::before, .menu-toggler span::after { display: block; height: 3px; background-color: #25292f; -webkit-transition: .07s linear; transition: .07s linear; }

.menu-toggler span::before, .menu-toggler span::after { position: absolute; width: 26px; content: ""; }

.menu-toggler span::before { top: -8px; }

.menu-toggler span::after { bottom: -8px; }

.menu-toggler:hover span { margin-left: -2px; width: 22px; }

.menu-toggler:hover span::before, .menu-toggler:hover span::after { margin-left: 6px; width: 22px; }

.feat-section { margin: 0 0 70px; padding: 30px 0 20px; border-top: 1px solid #f05023; border-bottom: 1px solid #f05023; }

.feat { width: 168px; text-align: center; }

.feat__img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 0 10px; height: 90px; }

.feat__name { color: #696969; font-weight: bold; line-height: 1.05; }

.cashbox-section { padding: 50px 0; background: url(../images/cashbox-background.jpg) no-repeat center; background-size: cover; color: #ffffff; text-align: center; }

.shop-section { padding: 70px 0; }

.shop-card { margin: 0 0 45px; max-width: 350px; width: 100%; }

@media (max-width: 575px) { .shop-card { max-width: none; } }

.shop-card__img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 0 24px; padding: 15px; width: 350px; height: 280px; border: 1px solid #f05023; border-radius: 8px; }

@media (max-width: 575px) { .shop-card__img { width: 100%; height: auto; } }

.shop-card__img img { max-width: 100%; height: auto; }

.shop-card__name { text-transform: uppercase; font-weight: bold; font-size: 24px; }

.shop-card__details { margin: 0 0 30px; letter-spacing: -.01em; line-height: 1.4; }

.payment-section { padding: 50px 0; background: url(../images/top-background.jpg) no-repeat center; background-size: cover; color: #ffffff; text-align: center; }

.payment-form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.info-section { padding: 70px 0 0; }

.partner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 0 30px; width: 160px; pointer-events: none; }

.partner img { max-width: 100%; height: auto; }

.sert { display: block; width: 255px; pointer-events: none; }

.sert img { max-width: 100%; height: auto; }

.question-section { padding: 50px 0 30px; background: url(../images/question-background.jpg) no-repeat center; background-size: cover; color: #ffffff; text-align: center; }

.question-form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.small-text { margin: 0; color: #ffffff; font-weight: 300; font-size: 16px; }

.contact-left { position: relative; padding: 70px 20px 55px 0; height: 100%; color: #ffffff; font-weight: 200; font-size: 22px; line-height: 1.4; }

.contact-left::before { position: absolute; top: 0; right: -15px; z-index: -1; width: 960px; height: 100%; background-color: #f05023; content: ""; }

@media (max-width: 991px) { .contact-left::before { right: auto; left: -50%; width: 150vw; } }

.contact-right { position: relative; left: -15px; min-height: 400px; width: 960px; height: 100%; }

@media (max-width: 991px) { .contact-right { display: none; } }

.push-window { position: fixed; top: 0; left: 0; z-index: 100; display: -webkit-box; display: -ms-flexbox; display: flex; overflow-x: hidden; overflow-y: auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 35px 25px; min-height: 320px; max-width: 575px; width: 100%; height: 100vh; background-color: #000000; color: #ffffff; -webkit-transition: .4s ease-out; transition: .4s ease-out; -webkit-transform: translateX(-100%); transform: translateX(-100%); }

.push-window__title { text-transform: uppercase; letter-spacing: .05em; font-size: 24px; font-weight: bold; }

.push-window.is-open { -webkit-transform: translateX(0); transform: translateX(0); }

.push-window--secondary { background-color: #f05023; }

.menu-navigation { margin: 0; padding: 0; list-style: none; }

.menu-navigation__link { display: inline-block; margin-bottom: 30px; color: #ffffff; text-transform: uppercase; letter-spacing: .05em; font-size: 24px; line-height: 1.1; }

.menu-navigation__link:hover { color: #f05023; text-decoration: none; }

@media (max-width: 991px) { .menu-navigation__link { margin-bottom: 20px; font-size: 18px; } }

.breaker { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0; width: 36px; height: 36px; border: none; background-color: transparent; cursor: pointer; -webkit-transform: translateX(-6px); transform: translateX(-6px); }

.breaker:focus { outline: none; }

.breaker::before, .breaker::after { position: absolute; width: 26px; height: 3px; background-color: #ffffff; content: ""; -webkit-transition: .2s ease-out; transition: .2s ease-out; -webkit-transform-origin: center; transform-origin: center; }

.breaker::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.breaker::after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.breaker:hover::before { -webkit-transform: rotate(135deg); transform: rotate(135deg); }

.breaker:hover::after { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.footer-form { display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 500px; height: 48px; }

.footer-form__input { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 0 50px 0 24px; width: auto; border: 1px solid #515459; border-radius: 62px; background-color: transparent; color: #515459; color: #ffffff; }

.footer-form__input:focus { outline: none; }

.footer-form__input::-webkit-input-placeholder { color: #515459; }

.footer-form__input:-ms-input-placeholder { color: #515459; }

.footer-form__input::-ms-input-placeholder { color: #515459; }

.footer-form__input::placeholder { color: #515459; }

.footer-form__button { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; margin-left: -45px; padding-left: 24px; padding-right: 24px; border-color: #515459; background-color: #515459; color: #7d7f83; }

.footer-form__button:hover { background-color: #515459; color: #ffffff; }

.shop-table { font-weight: bold; }

.shop-table td { width: 50%; padding-right: 10px; }

.privacy { font-size: 16px; }
