$color-primary: #112ed0;
$color-secondary: #d52b1e;
$color-reserve: #6fcf73;

html {
    height: 100%;
}

body {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    min-height: 100%;
    font-size: 16px;
}

input,
textarea {
    outline: none;
    border: 1px solid transparent;
    font-size: 20px;

    &::placeholder {
        color: #c4c4c4;
        font-weight: 300;
    }
}

label {
    display: block;
    margin: 0;

    p {
        margin-bottom: 10px;
    }
}

input {
    padding: 0 30px;
    min-width: 230px;
    width: 100%;
    height: 60px;
    border-radius: 40px;
    line-height: 60px;
}

textarea {
    padding: 15px 30px;
    min-height: 140px;
    width: 100%;
    border-radius: 16px;
}

.main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.s-head {
    background: url(../img/map.jpg) center no-repeat;
    background-size: cover;
    color: #ffffff;

    h1 {
        text-transform: uppercase;
        text-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
        letter-spacing: 0.16em;
        font-weight: bold;
        font-size: 70px;
        line-height: 1.2;
    }

    p {
        display: inline-block;
        background-color: $color-primary;
        font-size: 22px;
    }
}

.s-brief {
    background: $color-primary url(../img/brief-bg.png) center no-repeat;
    color: rgba(255, 255, 255, 0.9);
    // background-size: cover;
}

.s-stat {
    font-size: 18px;
}

.s-tech {
    font-size: 22px;
}

.s-form {
    color: #ffffff;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 20px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: $color-secondary;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s ease;

    user-select: none;

    &:hover {
        background-color: darken($color-secondary, 10%);
        color: #ffffff;
        text-decoration: none;
    }

    &[type="submit"] {
        // text-transform: none;
        // letter-spacing: 0;
        // font-weight: 300;
    }
}

.phone {
    display: flex;
    align-items: center;
    color: #ffffff;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 22px;

    &:hover {
        color: inherit;
        text-decoration: none;
    }

    &::before {
        margin-right: 12px;
        width: 24px;
        height: 24px;
        background: url(../img/phone.svg) center no-repeat;
        content: "";
    }
}

.menu {
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    cursor: pointer;

    user-select: none;

    &:focus {
        outline: none;
    }

    &::after {
        margin-left: 10px;
        width: 17px;
        height: 7px;
        background: url(../img/arrow-bot.svg) center no-repeat;
        content: "";
        transition: 0.3s ease;
    }

    &.is-open::after {
        transform: rotate(180deg);
    }
}

.menu-drop {
    position: absolute;
    margin-top: 0;
    opacity: 0;
    transition: 0.3s ease;
    transform: scale(0);
    transform-origin: 50% top;

    .is-open+& {
        margin-top: 15px;
        opacity: 1;
        transform: scale(1);
    }

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        list-style: none;
        font-size: 18px;
    }

    a {
        display: block;
        padding: 10px 30px;
        color: #000000;
        font-weight: 300;
        line-height: 1.2;
        transition: 0.1s ease;

        &:hover {
            color: $color-primary;
            text-decoration: none;
            transform: translateX(10px);
        }
    }
}

.footer {
    flex: 0 0 auto;
    background-color: $color-primary;
    color: #ffffff;
    font-size: 12px;
}

.art {
    padding-top: 6px;

    &-line {
        margin-bottom: 8px;
        height: 4px;
        background-color: $color-primary;

        &_secondary {
            background-color: $color-secondary;
        }
    }
}

.h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 44px;

    &::after {
        width: 120px;
        height: 8px;
        background-color: $color-primary;
        content: "";
    }

    &_secondary::after {
        background-color: $color-secondary;
    }

    &_white {
        color: #ffffff;
    }
}

.h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
}

.h4 {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}

.stat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        width: 175px;
        text-align: center;
        font-weight: 500;

        &_primary {
            color: $color-primary;
        }

        &_secondary {
            color: $color-secondary;
        }

        &_reserve {
            color: $color-reserve;
        }

        &_main {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: auto;
        }
    }

    &-img {
        position: relative;

        img {
            max-width: 175px;
            width: 100%;
        }
    }

    &-percent {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, -50%);
    }

    &-number {
        font-size: 32px;

        .stat-item_main & {
            font-size: 40px;
        }
    }

    &-txt {
        color: #000000;
        font-size: 18px;
        line-height: 1.2;

        .stat-item_main & {
            font-size: 26px;
        }
    }
}

.brief-img {
    display: inline-flex;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
    border-radius: 16px;

    img {
        max-width: 100%;
        height: auto;
    }
}

.swiper-geoport {
    &-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 15px;
        min-height: 220px;

        img {
            max-width: 120px;
        }
    }

    .swiper-slide {
        color: #000000;
        text-align: center;
        font-size: 22px;
    }
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -30px;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: $color-primary url(../img/btn-prev-next.svg) 45% center no-repeat;
    background-size: 35%;
    cursor: pointer;
    transition: 0.1s ease;

    user-select: none;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: darken($color-primary, 10%);
    }
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
    transform: rotate(180deg);
}

.tech {
    font-size: 16px;

    & .swiper-slide {
        display: flex;
        justify-content: center;
    }

    &-item {
        overflow: hidden;
        margin: 5px;
        max-width: 365px;
        border-radius: 16px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    }

    &-img {
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &-body {
        position: relative;
        margin-top: -1px;
        padding: 30px 40px 15px 40px;
        transition: 0.2s ease;
    }

    &-name {
        color: #000000;
        font-size: 22px;
        transition: 0.2s ease;
    }

    &-txt {
        overflow: hidden;
        height: 200px;
    }



    .btn-next {
        position: absolute;
        top: 0;
        right: 40px;
        cursor: auto;
        transition: 0.2s linear;

        &:hover {
            background-color: $color-primary;
        }
    }

    .is-open {
        .btn-next {
            background-color: #ffffff;
            background-image: url(../img/btn-blue.svg);
            transform: rotate(270deg);
        }

        .tech-body {
            background-color: $color-primary;
            color: #ffffff;
        }

        .tech-name {
            color: #ffffff;
        }
    }
}

.post {
    &-item {
        margin-bottom: 40px;
    }

    &-img {
        margin-bottom: 20px;

        img {
            width: 100%;
            border-radius: 16px;
        }
    }

    &-name {
        color: #000000;
        font-weight: bold;
        font-size: 22px;
    }

    &-link {
        position: relative;
        display: inline-block;
        color: #828282;
        font-size: 18px;
        transition: 0.3s ease;

        &::after {
            display: block;
            margin-top: 5px;
            width: 260px;
            height: 3px;
            background-color: #e5e5e5;
            content: "";
        }

        &::before {
            position: absolute;
            bottom: 0;
            display: block;
            width: 130px;
            height: 3px;
            background-color: $color-primary;
            content: "";
            transition: 0.3s ease;
        }

        &:hover {
            color: $color-primary;
            text-decoration: none;

            &::before {
                width: 260px;
            }
        }
    }
}

.form {
    border-radius: 16px;
    background: $color-primary url(../img/triple.svg) 40px 50% no-repeat;
    background-size: auto 102%;
}