@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic");
body {
  font-family: "Roboto", sans-serif;
}

.content {
  padding-top: 50px;
}

header {
  position: fixed;
  top: 0;
  z-index: 1040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 50px;
  min-height: 100px;
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  min-height: 100px;
  background-color: #86939e;
  color: rgba(255, 255, 255, 0.7);
}

footer a {
  color: inherit;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

.section {
  padding: 140px 0;
}

.section#graph {
  padding: 60px 0 0 0;
}

.section_dark {
  background-color: #f9f9f9;
}

.section-title {
  margin: 0 auto 50px;
  color: #5e6977;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 300;
  font-size: 52px;
  line-height: 58px;
}

.section-subtitle {
  margin: 0 auto 50px;
  color: #5e6977;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 300;
  font-size: 24px;
}

.bright-title {
  margin-bottom: 50px;
  color: #ff6b00;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.btn_main {
  padding: 0 40px;
  height: 60px;
  border-radius: 6px;
  background-color: #ff6b00;
  color: #fff;
  font-weight: 500;
  line-height: 60px;
}

.btn_main:hover {
  background-color: #ea5600;
  color: #fff;
}

.btn_main:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-hamburger {
  position: relative;
  display: block;
  margin: 0;
  width: 20px;
  height: 14px;
  cursor: pointer;
}

.menu-hamburger div {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #43484d;
  -webkit-transition: top 0.15s ease-in-out 0.15s, opacity 0s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out;
  transition: top 0.15s ease-in-out 0.15s, opacity 0s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out;
  transition: top 0.15s ease-in-out 0.15s, opacity 0s ease-in-out 0.15s, transform 0.15s ease-in-out;
  transition: top 0.15s ease-in-out 0.15s, opacity 0s ease-in-out 0.15s, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.menu-hamburger input {
  display: none;
}

.menu-hamburger input + div {
  top: 0;
}

.menu-hamburger input + div + div {
  top: 6px;
}

.menu-hamburger input + div + div + div {
  top: 12px;
}

.menu-hamburger input:checked + div {
  top: 6px;
  -webkit-transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, transform 0.15s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-hamburger input:checked + div + div {
  opacity: 0;
  -webkit-transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, transform 0.15s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
}

.menu-hamburger input:checked + div + div + div {
  top: 6px;
  -webkit-transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out, opacity 0s ease-in-out 0.15s, transform 0.15s ease-in-out 0.15s, -webkit-transform 0.15s ease-in-out 0.15s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drop-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #eee;
  background-color: #fff;
  list-style: none;
  -webkit-transition: opacity 0s 0.3s, -webkit-transform 0.2s ease-in-out 0.1s;
  transition: opacity 0s 0.3s, -webkit-transform 0.2s ease-in-out 0.1s;
  transition: transform 0.2s ease-in-out 0.1s, opacity 0s 0.3s;
  transition: transform 0.2s ease-in-out 0.1s, opacity 0s 0.3s, -webkit-transform 0.2s ease-in-out 0.1s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
}

.drop-menu a {
  display: block;
  padding: 5px 65px 5px 15px;
  color: #86939e;
  text-decoration: none;
}

.drop-menu a:hover {
  background-color: #eee;
}

.drop-menu.opened {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
  -webkit-transition: opacity 0s, -webkit-transform 0.2s ease-in-out 0.1s;
  transition: opacity 0s, -webkit-transform 0.2s ease-in-out 0.1s;
  transition: transform 0.2s ease-in-out 0.1s, opacity 0s;
  transition: transform 0.2s ease-in-out 0.1s, opacity 0s, -webkit-transform 0.2s ease-in-out 0.1s;
}

.activity {
  margin-bottom: 50px;
  min-width: 200px;
}

.activity h4 {
  margin-bottom: 10px;
  color: #43484d;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.activity span {
  display: inline-block;
  max-width: 200px;
  color: #86939e;
  font-size: 16px;
}

.activity .img-left {
  margin-right: 10px;
  min-width: 60px;
}

.activity .img-left img {
  max-width: 60px;
}

.activity .img-top {
  margin-bottom: 10px;
  min-height: 60px;
}

.activity .img-top img {
  max-height: 60px;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.main-form input[type=text],
.main-form input[type=email],
.main-form input[type=tel] {
  display: block;
  margin-bottom: 45px;
  padding: 0 50px;
  max-width: 465px;
  width: 100%;
  height: 60px;
  outline: none;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  background-color: #fff;
  background-image: url(../img/input-icon.svg);
  background-position: 15px center;
  background-repeat: no-repeat;
  color: #5e6977;
  line-height: 60px;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.main-form input[type=text]:focus,
.main-form input[type=email]:focus,
.main-form input[type=tel]:focus {
  border-color: #bfc6cc;
}

.last-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 465px;
  width: 100%;
}

.last-input input[type=text] {
  margin-bottom: 0;
  padding-left: 20px;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-image: none;
}

.last-input button[type=submit] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.file-upload {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: 0;
  width: 50px;
  height: 60px;
  background-image: url(../img/file-upload.svg);
  background-position: left center;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: background-position 0.15s ease-in-out;
  transition: background-position 0.15s ease-in-out;
}

.file-upload input {
  display: none;
}

.file-upload:hover {
  background-image: url(../img/file-upload_hover.svg);
  background-position: 6px center;
}

.file-upload.active {
  background-image: url(../img/file-upload_active.svg);
}

.slider1-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.slider1-logos .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding: 0 20px;
  cursor: pointer;
}

.slider1-logos .img img {
  max-width: 160px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.slider1-logos .img:hover img,
.slider1-logos .img.active img {
  -webkit-filter: none;
          filter: none;
}

.slider1 {
  margin: 0 auto;
  padding: 0 18px;
  max-width: 1100px;
}

.slider1 .slide {
  outline: none;
  color: #43484d;
  text-align: center;
}

.slider1 .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1001;
  overflow: hidden;
  width: 16px;
  height: 28px;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url(../img/slick-arrow.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
  text-indent: -9999px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider1 .slick-arrow:hover {
  background-image: url(../img/slick-arrow_hover.svg);
}

.slider1 .slick-prev {
  left: 0;
}

.slider1 .slick-next {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.slider1 .quote {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 32px;
  line-height: 46px;
}

.slider1 .author {
  margin-bottom: 10px;
  font-size: 18px;
}

.slider1 .date {
  color: #86939e;
  font-size: 16px;
}

.notebook {
  position: relative;
}

.notebook .notes {
  position: absolute;
  top: 26px;
  left: 0;
  overflow: hidden;
  width: 473px;
  height: 305px;
}

.notebook .notes img {
  width: 100%;
}

.slider2 .slide {
  padding-right: 80px;
  outline: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.slider2 .slide.slick-current {
  opacity: 1;
}

.slider2 .slide-title {
  margin-bottom: 20px;
  color: #43484d;
  letter-spacing: -1px;
  font-weight: 300;
  font-size: 32px;
}

.slider2 .slide-text {
  margin-bottom: 40px;
  color: #86939e;
  font-size: 16px;
  line-height: 25px;
}

.slider2 .slick-prev {
  display: none !important;
}

.slider2 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider2 .slick-dots li {
  margin-right: 10px;
  padding: 2px;
  width: 10px;
  height: 10px;
}

.slider2 .slick-dots li.slick-active {
  padding: 0;
}

.slider2 .slick-dots li.slick-active button {
  background-color: #ff6b00;
}

.slider2 .slick-dots button {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #86939e;
  color: transparent;
  text-indent: -9999px;
  pointer-events: none;
}

.slider2 .slick-next {
  position: absolute;
  top: 50%;
  right: -16px;
  z-index: 1001;
  overflow: hidden;
  width: 16px;
  height: 28px;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url(../img/slick-arrow2.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
  text-indent: -9999px;
  cursor: pointer;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.slider2 .slick-next:hover {
  background-image: url(../img/slick-arrow_hover.svg);
}

@media (max-width: 1199px) {
  .section#graph {
    padding: 70px 0;
  }
}

@media (max-width: 767px) {
  header {
    padding-right: 0;
    padding-left: 0;
  }
  .section {
    padding: 70px 0;
  }
  .section-title {
    letter-spacing: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
  }
  .section-subtitle {
    letter-spacing: 0;
    font-size: 18px;
  }
  .last-input {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last-input button[type=submit] {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .last-input input[type=text] {
    margin-bottom: 45px;
    border-right-width: 2px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .slider1 .quote {
    font-size: 18px;
    line-height: 1.5;
  }
  .slider1 .author {
    font-size: 16px;
  }
  .slider1-logos .img img {
    max-width: 105px;
  }
  .slider2 .slide {
    padding-right: 0;
  }
  .slider2 .slide-title {
    letter-spacing: 0;
    font-size: 22px;
    line-height: 26px;
  }
}
/*# sourceMappingURL=main.css.map */