html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.page {
    position: relative;
    z-index: 1;
    display: flex;
    overflow-x: hidden;
    flex: 1 1 auto;
    flex-direction: column;
}

.header,
.footer {
    flex: 0 0 auto;
}

.content {
    flex: 1 1 auto;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, #141415 0%, rgba(20, 20, 21, 0) 100%);
}

.footer {
    padding: 3.75rem 0 1.625rem;
    background: $body-color;
    color: #ffffff;

    &__title {
        font-weight: bold;
        font-size: 1.25rem;
    }

    &__textarea {
        min-height: 10.3rem;
    }

    &__bottom {
        font-size: 0.75rem;
    }

    &__contact {
        font-size: 1.25rem;
    }
}

.privacy-checkbox {
    @extend .custom-control;
    @extend .custom-checkbox;

    font-size: 0.75rem;
    line-height: 1.5rem;

    .custom-control-label::before {
        border-color: $body-color;
    }
}

.header-nav {
    @extend .nav;

    a {
        color: #ffffff;

        &:hover {
            color: $primary;
        }
    }
}

.btn-transparent-white {
    border-color: #ffffff;
    color: #ffffff;

    @extend .btn;
}

.btn-transparent-black {
    border-color: $body-color;
    color: $body-color;

    @extend .btn;
}

.btn-transparent-white,
.btn-transparent-black {
    &:hover {
        border-color: $danger;
        background-color: $danger;
        color: #ffffff;
    }
}

.header-top {
    padding: 3rem 0 2rem 0;
}

.header-navbar {
    background-color: $primary;

    &__link {
        display: block;
        padding: 1.125em 0.5rem;
        color: #ffffff;
        text-align: center;

        &:hover {
            background-color: $secondary;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.slick-slide {
    &:focus {
        outline: none;
    }
}

.slick-arrow {
    margin: 0.125rem;
    padding: 0;
    width: 3.75rem;
    height: 3.75rem;
    border: 1px solid transparent;
    background-color: $primary;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    text-shadow: none;
    font: 0/0 a;

    &:hover {
        background-color: $secondary;
    }

    &:focus {
        outline: none;
    }
}

.slick-prev {
    background-image: url(../images/slick-arrow-prev.svg);
}

.slick-next {
    background-image: url(../images/slik-arrow-next.svg);
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        margin: 0.375rem 0;
        padding: 0.375rem;
    }

    button {
        padding: 0;
        width: 0.5rem;
        height: 0.5rem;
        border: 1px solid $gray2;
        border-radius: 50%;
        background: transparent;
        color: transparent;
        text-shadow: none;
        font: 0/0 a;
        transition: 0.15s ease-in-out;

        &:focus {
            outline: none;
        }
    }

    .slick-active button {
        border-color: $secondary;
        background-color: $secondary;
        transform: scale(1.5);
    }
}

.main-slider {
    position: relative;
    padding-bottom: 1.875rem;

    &__item {
        position: relative;
        height: 40rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:focus {
            outline: none;
        }
    }

    &__nav {
        position: absolute;
        right: 15px;
        bottom: -2rem;
    }

    &__buttons {
        display: flex;
    }

    .slick-dots button {
        border-color: #ffffff;
    }

    .slick-dots .slick-active button {
        border-color: $secondary;
    }
}

.slider-card {
    position: absolute;
    bottom: 1rem;
    width: 255px;
    background-color: #ffffff;
    line-height: 1.2;

    &__body {
        padding: 0.75rem 1.5rem 2rem;
    }

    &__badge {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    &__corner {
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: -1;
    }

    &__name {
        letter-spacing: 0.05em;
        font-weight: 800;
        font-size: 2.25rem;
    }

    &__properties {
        font-size: 12px;
    }

    &__price {
        white-space: nowrap;
        font-size: 2rem;

        &::after {
            display: inline-block;
            margin-top: 0.275rem;
            content: "*";
            vertical-align: top;
            font-size: 1rem;
        }
    }

    &__note {
        color: $gray1;
        font-size: 0.5625rem;
    }
}

.badge-status {
    min-width: 100px;
    text-transform: uppercase;

    @extend .badge;
}

.title {
    margin: 0 0 1rem;
    text-transform: uppercase;
    letter-spacing: 0.24em;
    font-weight: 800;
    font-size: 2.25rem;
}

.lineup {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: center;

    &__item {
        margin: 0 15px 30px;
    }
}

.house-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 255px;
    background-color: #ffffff;
    line-height: 1.2;
    transition: box-shadow 0.1s ease;

    &:hover {
        box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.15);
    }

    &__badge {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }

    &__picture {
        height: 180px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__body {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 0.75rem 1.25rem 1rem 1.875rem;
    }

    &__footer {
        padding: 0.75rem 1.25rem 1.5rem 1.875rem;
    }

    &__name {
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 1.25rem;
    }

    &__properties {
        flex: 1 1 auto;
        font-size: 12px;
    }

    &__price {
        white-space: nowrap;
        font-size: 1.5rem;

        &::after {
            display: inline-block;
            margin-top: 0.175rem;
            content: "*";
            vertical-align: top;
            font-size: 1rem;
        }
    }

    &__note {
        color: $gray1;
        font-size: 0.5625rem;
    }
}

.review-slider {
    &__item-inner {
        display: flex;
        align-items: center;
    }

    &__item-head {
        flex: 0 0 auto;
        padding: 0 2rem 0 0;
        width: 290px;
    }

    &__dash {
        flex: 0 0 auto;
    }

    &__item-body {
        flex: 1 1 auto;
        padding: 0 3.75rem;
    }

    &__photo {
        margin: 0 0 1.5rem;
    }

    &__name {
        margin: 0 0 0.75rem;
        font-weight: bold;
        font-size: 1.25rem;
    }

    .slick-dots {
        justify-content: flex-end;
    }
}

.social-list {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        border: 1px solid transparent;
        transition: 0.15s ease-in-out;

        &:not(:first-child) {
            margin-left: 1.5rem;
        }

        &:hover {
            border: 1px solid $primary;
        }
    }
}

.numbers {
    font-weight: 800;
    font-size: 2.25rem;
    letter-spacing: 0.05rem;
    color: $primary;

    &::before {
        content: ">";
    }
}