@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
    .review-slider {
        text-align: center;

        &__photo {
            margin-left: auto;
            margin-right: auto;
        }

        &__item-inner {
            flex-wrap: wrap;
        }

        &__dash {
            display: none;
        }

        &__item-body {
            padding: 0;
            font-size: 0.875rem;
        }

        &__item-head {
            padding: 0;
            width: 100%;
        }

        & .slick-dots {
            justify-content: center;
        }
    }
}

@include media-breakpoint-down(sm) {
    html {
        font-size: 15px;
    }

    .house-card {
        box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.15);
    }
}

@include media-breakpoint-down(xs) {
    html {
        font-size: 14px;
    }

    .title {
        font-size: 1.5rem;
        letter-spacing: 0.1em;
    }

    .footer__contact {
        font-size: 1rem;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .numbers {
        font-size: 1.5rem;
    }

}


@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}