$primary:   #61AE56;
$secondary: #82D277;
$danger:    #C13323;
$info:      #A82250;

$gray1:      #828282;
$gray2:      #c4c4c4;



// $body-bg:    #141415;
$body-color: #141415;
$font-family-base: 'Montserrat', sans-serif;
$font-weight-base: 500;

$btn-font-weight:  500;

$link-color: $danger;
$enable-rounded: false;

$input-btn-focus-width:    0;
$input-btn-line-height:    1;
$input-btn-line-height-lg: 1;


$input-btn-padding-y:      0.688rem;
$input-btn-padding-x:      2rem;

$input-btn-padding-y-lg:   1.125rem;
$input-btn-padding-x-lg:   2rem;
$input-btn-font-size-lg:   1rem;

$input-color:              $body-color;
$input-border-color:       $body-color;
$input-focus-border-color: $primary;

$badge-font-weight:        500;
$badge-font-size:          0.75rem;
$badge-padding-y:          0.25rem;
$badge-padding-x:          0.5rem;
