html { height: 100%; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100%; }

.page { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow-x: hidden; overflow-y: auto; }

.content { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.font-weight-semibold { font-weight: 600 !important; }

.header { background-color: #ffffff; font-size: 0.75rem; }

.footer { background-color: #31343d; font-size: 0.75rem; }

.case__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; color: #f1f3ff; font-size: 0.9375rem; }

.case__header { position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.case__header:hover .case__dropdown-list { display: block; }

.case__header--arrow::after { position: absolute; top: 50%; right: 0.625rem; width: 0.375rem; height: 0.625rem; background: url(../images/arrow-case.svg) center no-repeat; content: ""; -webkit-transform: translateY(-50%); transform: translateY(-50%); pointer-events: none; }

.case__header--arrow:hover::after { -webkit-transform: translateY(-50%) rotate(90deg); transform: translateY(-50%) rotate(90deg); }

.case__name { display: block; padding: 0.5rem 1.5rem 0.5rem 0.5rem; min-height: 3.25rem; background-color: #1f327d; color: inherit; text-transform: uppercase; line-height: 1.2; }

.case__name:hover { background-color: #1a2a69; color: inherit; text-decoration: none; }

.case__picture { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; height: 150px; background-position: center; background-size: cover; background-repeat: no-repeat; }

.case__dropdown-list { position: absolute; top: 100%; left: 0; z-index: 1; display: none; min-height: 150px; width: 100%; background-color: #1f327d; }

.case__dropdown-list:hover { display: block; }

.case__dropdown-link { display: block; padding: 0.5rem 0.5rem; color: inherit; font-size: 0.75rem; line-height: 1; }

.case__dropdown-link:hover { background-color: #1a2a69; color: inherit; text-decoration: none; }

.news { display: block; color: inherit; font-size: 0.875rem; line-height: 1.4; margin-bottom: 2rem; }

.news:hover { color: #1f327d; text-decoration: none; }

.news__name { margin-bottom: 0.625rem; font-weight: bold; }

.custom-nav { font-size: 14px; list-style: none; padding-left: 0; }

.custom-nav__link { display: block; position: relative; color: #848895; padding: 0.4375rem 0; line-height: 1.2; }

.custom-nav__link:hover { color: #2C3439; text-decoration: none; }

.custom-nav__link:hover::before { opacity: 1; left: 0.25rem; }

.custom-nav__link:hover .custom-nav__text { left: 1rem; }

.custom-nav__link::before { content: ""; width: 6px; height: 10px; background: url(../images/arrow-custom-nav.svg) center no-repeat; position: absolute; top: 50%; left: -0.75rem; opacity: 0; -webkit-transition: opacity 0.15s ease, left 0.15s ease; transition: opacity 0.15s ease, left 0.15s ease; pointer-events: none; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.custom-nav__text { position: relative; left: 0; -webkit-transition: left 0.15s ease; transition: left 0.15s ease; }

.slider-partners { padding: 0 40px; }

.slider-partners__slide:focus { outline: none; }

.slider-partners .slick-track { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.slider-partners__picture { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.slider-partners__picture img { max-width: 100%; height: auto; }

.slick-arrow { z-index: 1; position: absolute; top: 50%; width: 40px; height: 40px; border: 0; color: transparent; text-shadow: none; font: 0/0 a; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.slick-arrow:focus { outline: none; }

.slick-prev { left: 0; background: transparent url(../images/arrow-prev-slider.svg) center no-repeat; }

.slick-next { right: 0; background: url(../images/arrow-next-slider.svg) center no-repeat; }

.lh-lg { line-height: 1.8; }

.hr-lg { border-width: 2px; }

label { color: #c4c4c4; }

.fz-12 { font-size: 0.75rem; }

.fz-14 { font-size: 0.875rem; }

.custom-list { list-style: none; padding-left: 5.625rem; }

.custom-list li { position: relative; margin: 0 0 1rem; }

.custom-list li::before { content: ""; position: absolute; width: 0.3125rem; height: 0.3125rem; border-radius: 50%; background-color: #1f327d; top: 0.6875rem; left: -1.875rem; }

@media (max-width: 575px) { h1, .h1 { font-weight: bold; font-size: 1.6rem; }
  h2, .h2 { font-size: 1.4rem; }
  .custom-list { padding-left: 2.25rem; } }
/*# sourceMappingURL=main.css.map */