$color-primary: #0093cb;

html {
    height: 100%;
    background-color: #f2f2f2;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.fz-sm {
    font-size: 14px;
}

.fz-md {
    font-size: 16px;
}

.fz-lg {
    font-size: 18px;
}

.page {
    position: relative;
    display: flex;
    overflow: hidden;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: 72px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #bdbdbd;
    background-color: #ffffff;
}

.main {
    flex: 1 1 auto;
}

.footer {
    flex: 0 0 auto;
    background-color: #002a39;
    color: rgba(255, 255, 255, 0.5);

    &__title {
        color: rgba(255, 255, 255, 0.8);
        font-weight: bold;
        font-size: inherit;
    }
}

.container-fluid {
    padding-right: 16px;
    padding-left: 16px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;

    &--smaller {
        font-size: 18px;
    }

    &--larger {
        font-size: 24px;
        line-height: 34px;
    }

    &--shadow {
        text-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    }
}

.site-lang {
    text-transform: uppercase;
    font-style: italic;
    font-size: 14px;

    &--active {
        color: $color-primary;
        text-decoration: underline;
        font-weight: bold;
    }
}

.btn {
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    width: auto;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #0093cb;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 40px;
    transition: 0.1s ease;

    &:hover {
        background-color: darken($color-primary, 10%);
        color: #ffffff;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &--reverse {
        border-color: $color-primary;
        background-color: transparent;
        color: $color-primary;

        &:hover {
            background-color: $color-primary;
        }
    }

    &--larger {
        padding: 0 50px;
        height: 54px;
        border-width: 2px;
        border-radius: 50px;
        font-size: 16px;
        line-height: 54px;
    }

    &--full {
        display: flex;
        flex: 0 0 auto;
        width: 100%;
        border-radius: 0;
    }
}

.button-search {
    display: block;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent url(../images/search.svg) center no-repeat;
}

.button-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;

    & span, & span::before, & span::after {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 2px;
        background-color: #000000;
    }

    & span::before, & span::after {
        position: absolute;
        left: 0;
        content: "";
    }

    & span::before {
        bottom: 5px;
    }

    & span::after {
        top: 5px;
    }
}

.button-breaker {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;

    &::before, &::after {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        content: "";
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.section {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-home {
        background-image: url(../images/backgrounds/home.jpg);
    }

    &-presentation {
        background-image: url(../images/backgrounds/presentation.jpg);
    }
}

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;

    &:hover {
        text-decoration: none;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 25px;
        width: 8px;
        height: 17px;
        background: url(../images/category-arrow.svg) center no-repeat;
        content: "";
        transform: translateY(-50%);
    }

    &:nth-child(1) {
        background-color: #097ba6;
    }

    &:nth-child(2) {
        background-color: #0093cb;
    }

    &:nth-child(3) {
        background-color: #22ade2;
    }

    &:nth-child(4) {
        background-color: #56ccf2;
    }

    &__name {
        margin: 0;
        max-width: 0;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 18px;
    }
}

.slide-panel {
    z-index: 10;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;

    &__link {
        display: flex;
        align-items: center;
        height: 85px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 18px;

        &:hover {
            color: $color-primary;
            text-decoration: none;
        }

        &.is-active {
            color: $color-primary;
            font-weight: bold;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }
    }

    &__img {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        justify-content: center;
        width: 85px;
        font-size: 40px;
    }
}
