$color-primary: #0093cb;

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.fz-sm {
    font-size: 14px;
}

.fz-md {
    font-size: 16px;
}

.fz-lg {
    font-size: 18px;
}

.page {
    position: relative;
    display: flex;
    overflow: hidden;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: 72px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #ffffff;
}

.main {
    flex: 1 1 auto;
}

.footer {
    flex: 0 0 auto;
    background-color: #002a39;
    color: rgba(255, 255, 255, 0.5);

    &__title {
        color: rgba(255, 255, 255, 0.8);
        font-weight: bold;
        font-size: inherit;
    }
}

.container-fluid {
    padding-right: 16px;
    padding-left: 16px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.title {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;

    &--small {
        letter-spacing: 0;
        font-weight: 500;
        font-size: 16px;
    }

    &--smaller {
        font-size: 18px;
    }

    &--larger {
        font-size: 24px;
        line-height: 34px;
    }

    &--shadow {
        text-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    }
}

.subtitle {
    color: #828282;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
}

.contact {
    margin-bottom: 30px;

    &__title {
        position: relative;
        margin: 0 0 25px;
        padding-left: 46px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.2;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 26px;
            height: 36px;
            background: url(../images/mark.svg) center no-repeat;
            content: "";
            transform: translateY(-50%);
        }
    }

    &__map {
        overflow: hidden;
        width: 100%;
        height: 240px;
        border: 1px solid $color-primary;
        border-radius: 4px;
    }
}

.input, .textarea {
    display: block;
    margin: 0 0 8px;
    padding: 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    font-style: italic;
    font-size: 14px;

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }

    &:focus {
        outline: none;
    }
}

.input {
    height: 36px;
    line-height: 36px;
}

.textarea {
    min-height: 140px;
    height: auto;
}

.checkbox {
    display: block;
    font-size: 14px;

    &__name {
        position: relative;
        padding-left: 40px;
        cursor: pointer;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 24px;
            height: 24px;
            border: 1px solid #000000;
            border-radius: 2px;
            background: #ffffff center no-repeat;
            content: "";
            transform: translateY(-50%);

            input:checked + & {
                background-image: url(../images/checkbox.svg);
            }
        }
    }

    input {
        display: none;
    }
}

.site-lang {
    text-transform: uppercase;
    font-style: italic;
    font-size: 14px;

    &--active {
        color: $color-primary;
        text-decoration: underline;
        font-weight: bold;
    }
}

.btn {
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    width: auto;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: $color-primary;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 40px;
    transition: 0.1s ease;

    &:hover {
        background-color: darken($color-primary, 10%);
        color: #ffffff;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &--reverse {
        border-color: $color-primary;
        background-color: transparent;
        color: $color-primary;

        &:hover {
            background-color: $color-primary;
        }
    }

    &--larger {
        padding: 0 50px;
        height: 54px;
        border-width: 2px;
        border-radius: 50px;
        font-size: 16px;
        line-height: 54px;
    }

    &--stretch {
        display: flex;
        flex: 0 0 auto;
        width: 100%;
        border-radius: 0;
    }
}

.button-search {
    display: block;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent url(../images/search.svg) center no-repeat;
}

.button-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;

    & span, & span::before, & span::after {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 2px;
        background-color: #000000;
    }

    & span::before, & span::after {
        position: absolute;
        left: 0;
        content: "";
    }

    & span::before {
        bottom: 5px;
    }

    & span::after {
        top: 5px;
    }
}

.button-breaker {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;

    &::before, &::after {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        content: "";
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.section {
    position: relative;

    &--background {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &-home {
        background-image: url(../images/backgrounds/home.jpg);
    }

    &-presentation {
        background-image: url(../images/backgrounds/presentation.jpg);
    }
}

.directory {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;

    &:hover {
        text-decoration: none;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 23px;
        width: 8px;
        height: 17px;
        background: url(../images/category-arrow.svg) center no-repeat;
        content: "";
        transform: translateY(-50%);
    }

    &:nth-child(1) {
        background-color: #097ba6;
    }

    &:nth-child(2) {
        background-color: #0093cb;
    }

    &:nth-child(3) {
        background-color: #22ade2;
    }

    &:nth-child(4) {
        background-color: #56ccf2;
    }

    &__name {
        margin: 0;
        max-width: 0;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 18px;
    }
}

.slide-panel {
    z-index: 10;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;

    &__link {
        display: flex;
        align-items: center;
        height: 85px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 18px;

        &:hover {
            color: $color-primary;
            text-decoration: none;
        }

        &.is-active {
            color: $color-primary;
            font-weight: bold;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }
    }

    &__img {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        justify-content: center;
        width: 85px;
        font-size: 40px;
    }
}

.period {
    display: flex;
    align-items: center;
    margin: 0 0 25px;

    &__dash {
        position: relative;
        flex: 1 1 auto;
        margin-left: 20px;
        height: 1px;
        background-color: $color-primary;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $color-primary;
            content: "";
            transform: translateY(-50%);
        }

        &--reverse {
            margin-right: 20px;
            margin-left: 0;

            &::before {
                right: 0;
                left: auto;
            }
        }
    }

    &__year {
        position: relative;
        flex: 0 0 auto;
        color: $color-primary;
        font-weight: 500;
        font-size: 44px;

        &::after {
            position: absolute;
            right: 5px;
            bottom: -10px;
            color: rgba(0, 0, 0, 0.5);
            content: "год";
            font-weight: 300;
            font-size: 16px;
        }
    }
}
