#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #050505;
    z-index: 800;
    height: 100%;
    width: 100%;
    display: table;
}

.no-js #preloader,
.oldie #preloader {
    display: none;
}

#loader {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.line-scale-pulse-out>div {
    background-color: $main-color;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    animation-fill-mode: both;
    display: inline-block;
    animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out>div:nth-child(2),
.line-scale-pulse-out>div:nth-child(4) {
    animation-delay: -0.4s !important;
}

.line-scale-pulse-out>div:nth-child(1),
.line-scale-pulse-out>div:nth-child(5) {
    animation-delay: -0.2s !important;
}

@keyframes line-scale-pulse-out {
    0% {
        transform: scaley(1);
    }

    50% {
        transform: scaley(0.4);
    }

    100% {
        transform: scaley(1);
    }
}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(500%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}