$main-color: #110db2;

@import url("https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic");
@import "_preloader";

body {
    font-family: "Exo 2", sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    // overflow: hidden;
}

header {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    min-height: 70px;
    width: 100%;
    background-color: transparentize($main-color, 0.75);
}

.header-logo {
    a {
        display: flex;
        align-items: center;
        height: 100%;
        color: #ffffff;
        font-weight: 200;
        font-size: 14px;

        &:hover {
            text-decoration: none;
        }
    }

    .site-logo img {
        margin-left: -20px;
        width: 200px;
    }

    .v-line {
        margin-right: 32px;
        margin-left: 10px;
        width: 1px;
        height: 30px;
        background-color: $main-color;
    }
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: right;

    .phone {
        letter-spacing: 0.05em;
        font-weight: 800;
        font-size: 20px;
    }

    .city {
        font-weight: 200;
        font-size: 14px;
    }
}

.header-btn {
    display: flex;
    align-items: center;
    height: 100%;

    .header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid $main-color;
        cursor: pointer;

        span,
        span::before,
        span::after {
            display: block;
            width: 17px;
            height: 1px;
            background-color: #ffffff;
            transition: transform 0.1s linear;
        }

        span::before {
            content: "";
            transform: translateY(-5px);
        }

        span::after {
            content: "";
            transform: translateY(4px);
        }

        &:hover {
            background-color: transparentize($main-color, 0.25);

            span::before {
                transform: translateY(-6px);
            }

            span::after {
                transform: translateY(5px);
            }
        }
    }
}

.header-nav {
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    width: 280px;
    height: 100%;
    background-color: #0e0e0e;
    transition: 0.5s ease;
    transform: scaleX(0);
    transform-origin: top right;

    .header-nav-open & {
        transform: scale(1);
    }

    .header-nav__content {
        position: relative;
        left: 50px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s 0.3s ease-in-out;

        .header-nav-open & {
            left: 0;
            visibility: visible;
            opacity: 1;
        }
    }
}

section.home,
section.look,
section.games,
section.food {
    overflow: hidden;
    position: relative;
    padding: 100px 0;
    min-height: 100vh;
}

.section-title {
    position: relative;
    padding-bottom: 30px;
    text-align: center;

    h3 {
        margin-bottom: 0;
        color: $main-color;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 20px;
    }

    h2 {
        font-size: 52px;
        line-height: 1.2;
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        max-width: 500px;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.05);
        content: "";
        transform: translateX(-50%);
    }
}

section.home {
    display: flex;
    align-items: center;
    background-image: url(../img/dead_space_funny_player_joystick_dark_monster_sofa-1011630.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-title {
    max-width: 75%;

    @media (max-width: 575px) {
        max-width: 100%;
    }

    h2 {
        color: $main-color;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 50px;

        @media (max-width: 991px) {
            font-size: 30px;
        }

        @media (max-width:575px) {
            font-size: 28px;
        }
    }

    h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 80px;

        @media (max-width: 991px) {
            font-size: 50px;
        }

        @media (max-width:575px) {
            font-size: 39px;
        }
    }

    html.cl-preload & {
        opacity: 0;
    }

    html.cl-loaded & {
        animation-name: fadeup;
        animation-duration: 2s;
    }
}

section.look,
section.food {
    background-color: #050505;
}
