@import url("https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic");
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #050505;
  z-index: 800;
  height: 100%;
  width: 100%;
  display: table;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.line-scale-pulse-out > div {
  background-color: #110DB2;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
          animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out > div:nth-child(2),
.line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -0.4s !important;
          animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1),
.line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -0.2s !important;
          animation-delay: -0.2s !important;
}

@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
}

@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
}

@-webkit-keyframes fadeup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000%, 0);
            transform: translate3d(0, 1000%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000%, 0);
            transform: translate3d(0, 1000%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  background-color: #000;
}

header {
  z-index: 1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 70px;
  background-color: rgba(17, 13, 178, 0.25);
}

.header-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
}

.header-logo a:hover {
  text-decoration: none;
}

.header-logo .site-logo img {
  width: 200px;
  margin-left: -20px;
}

.header-logo .v-line {
  width: 1px;
  height: 30px;
  margin-right: 32px;
  margin-left: 10px;
  background-color: #110DB2;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: right;
}

.header-info .phone {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.header-info .city {
  font-size: 14px;
  font-weight: 200;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-btn .header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #110DB2;
  cursor: pointer;
}

.header-btn .header-icon:hover {
  background-color: rgba(17, 13, 178, 0.75);
}

.header-btn .header-icon span,
.header-btn .header-icon span::before,
.header-btn .header-icon span::after {
  display: block;
  width: 17px;
  height: 1px;
  background-color: #fff;
}

.header-btn .header-icon span::before {
  content: "";
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header-btn .header-icon span::after {
  content: "";
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

section.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  background-image: url(../img/dead_space_funny_player_joystick_dark_monster_sofa-1011630.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home-title {
  max-width: 75%;
}

@media (max-width: 575px) {
  .home-title {
    max-width: 100%;
  }
}

.home-title h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: #110DB2;
  font-weight: 400;
}

@media (max-width: 991px) {
  .home-title h2 {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .home-title h2 {
    font-size: 28px;
  }
}

.home-title h1 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 991px) {
  .home-title h1 {
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  .home-title h1 {
    font-size: 39px;
  }
}

html.cl-preload .home-title {
  opacity: 0;
}

html.cl-loaded .home-title {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: fadeup;
          animation-name: fadeup;
}

section.home,
section.look,
section.games,
section.food {
  min-height: 100vh;
}

.h-jarralax {
  height: 600px;
}

@media (max-width: 575px) {
  .h-jarralax {
    height: 250px;
  }
}
/*# sourceMappingURL=main.css.map */