$main-color: #110DB2;

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
@import '_preloader';
@import '_jarallax';

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;
    background-color: #000;
    // overflow: hidden;
}

header {
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    background-color: transparentize($main-color, 0.75);
}

.header-logo {
    a {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 14px;
        font-weight: 200;
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    .site-logo img {
        width: 200px;
        margin-left: -20px;
    }

    .v-line {
        width: 1px;
        height: 30px;
        margin-right: 32px;
        margin-left: 10px;
        background-color: $main-color;
    }
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: right;

    .phone {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 0.05em;
    }

    .city {
        font-size: 14px;
        font-weight: 200;
    }
}

.header-btn {
    display: flex;
    align-items: center;
    height: 100%;

    .header-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid $main-color;
        cursor: pointer;

        &:hover {
            background-color: transparentize($main-color, 0.25);
        }

        span,
        span::before,
        span::after {
            display: block;
            width: 17px;
            height: 1px;
            background-color: #fff;
        }

        span::before {
            content: "";
            transform: translateY(-5px);
        }

        span::after {
            content: "";
            transform: translateY(4px);
        }
    }
}

section.home {
    display: flex;
    align-items: center;
    padding: 100px 0;
    background-image: url(../img/dead_space_funny_player_joystick_dark_monster_sofa-1011630.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-title {
    max-width: 75%;

    @media (max-width: 575px) {
        max-width: 100%;
    }

    h2 {
        font-size: 50px;
        text-transform: uppercase;
        color: $main-color;
        font-weight: 400;

        @media (max-width: 991px) {
            font-size: 30px;
        }

        @media (max-width:575px) {
            font-size: 28px;
        }
    }

    h1 {
        font-size: 80px;
        text-transform: uppercase;
        font-weight: 600;

        @media (max-width: 991px) {
            font-size: 50px;
        }

        @media (max-width:575px) {
            font-size: 39px;
        }
    }

    html.cl-preload & {
        opacity: 0;
    }

    html.cl-loaded & {
        animation-duration: 2s;
        animation-name: fadeup;
    }
}

section.home,
section.look,
section.games,
section.food {
    min-height: 100vh;
}

.h-jarralax {
    height: 600px;
    @media (max-width: 575px) {
        height: 250px;
    }
}