html {
    height: 100%;
    min-width: $site-min-width;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: $header-height;
}

.page-header, .page-footer {
    flex: 0 0 auto;
}

.page-content {
    flex: 1 1 auto;
}

.s-color-black {
    color: #000000;
}

.s-letter-spacing-sm {
    letter-spacing: 0.1em !important;
}

.s-letter-spacing-lg {
    letter-spacing: 0.3em !important;
}
