html {
    height: 100%;
    min-width: $site-min-width;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: $header-height;
}

.page-header,
.page-footer {
    flex: 0 0 auto;
}

.page-content {
    flex: 1 1 auto;
}

.section {
    padding: 35px 0;
}

.title {
    letter-spacing: 0.05em;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.hr {
    border-color: #bdbdbd;
    margin: 5px 0 25px;
}

.btn-lg {
    letter-spacing: 0.15em;
}

.btn-arrow {
    position: relative;
    min-width: 260px;

    &::after {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        background: url(../images/arrow-btn.svg) center no-repeat;
        background-size: 21px 8px;
        width: 21px;
        height: 8px;
    }

    &:hover::after {
        background-image: url(../images/arrow-btn-white.svg);
    }

}