.slider-main {
    &__slide {
        position: relative;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 60px 140px 120px 140px;
        width: 100%;
        height: 100%;
    }

    &__name {
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-weight: 900;
        font-size: 54px;
        margin: 0 0 10px;

        @media (max-width: $media-width) {
            letter-spacing: 0.05em;
            font-size: 48px;
        }
    }

    &__subname {
        margin: 0 0 40px;
        color: #f2f2f2;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.2;
    }

    &__button {
        padding: 8px 55px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
    }

    .slick-dots {
        bottom: 60px;
        left: 140px;
        width: auto;
    }

}

.slider-years {
    padding: 0 90px;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 25px;

    &__slide {
        position: relative;
        margin: 0 16px;
        cursor: pointer;
        transition: color 0.1s ease;

        &:not(:last-child)::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 30px;
            background: $color-primary;
            top: 50%;
            transform: translateY(-50%);
            right: -16px;
        }

        &:hover,
        &.slick-active {
            color: $color-primary;
        }
    }
}

.slider-matreshka {
    padding: 0 40px;

    &__slide {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    &__body {
        width: 100%;
        max-width: 340px;
    }

    &__img {
        margin: 0 0 15px;
    }

    &__name {
        font-size: 24px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin: 0 0 15px;
    }

    .slick-arrow {
        &::before {
            width: 24px;
            height: 24px;
        }

        &:hover::before {
            border-color: $color-primary;
        }

    }

    .slick-prev::before {
        left: 12px;
        border-top: 6px solid #000000;
        border-left: 6px solid #000000;
    }

    .slick-next::before {
        right: 12px;
        border-right: 6px solid #000000;
        border-bottom: 6px solid #000000;
    }

}

.fresh {
    overflow: hidden;
    padding: 30px 50px 20px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    background-color: #ffffff;

    &__name {
        margin: 0 0 15px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 24px;
    }

    &__subname {
        margin: 0 0 20px;
        color: #333333;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 18px;
        line-height: 1.4;
    }

    &__img {
        margin: 0 0 20px;
    }

    &__link {
        position: relative;
        padding-right: 25px;
        color: $color-primary;
        text-decoration: underline;
        font-size: 12px;

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 20px;
            height: 7px;
            background: url(../images/arrow-fresh.svg) center no-repeat;
            background-size: 20px 7px;
            content: "";
            transform: translateY(-50%);
        }
    }
}

.article {
    display: block;
    margin: 0 0 25px;
    height: calc(100% - 25px);
    background-color: #333333;

    &__img {
        width: 100%;
        height: auto;
    }

    &__body {
        padding: 10px 20px;
    }

    &__name {
        margin: 10px 0;
        color: #ffffff;
        letter-spacing: 0.03em;
        font-weight: bold;
        font-size: 18px;
    }

    &__subname {
        margin: 10px 0;
        color: #828282;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.2;

        .article:hover & {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &:hover {
        background-color: $color-primary;
        text-decoration: none;
    }
}

.google-play {
    padding: 30px 0;
    background-color: #000000;
    color: #ffffff;
    letter-spacing: 0.03em;
    font-size: 18px;
}

.tabs {
    margin: 0 -12px;

    &__link {
        margin: 0 12px 12px;
        padding-top: 5px;
        padding-bottom: 4px;
        min-width: 260px;
        border: 1px solid #333333;
        color: #333333;
        text-align: center;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 18px;

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }

        &.active {
            border-color: $color-primary;
        }
    }
}

.event {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 0 0 30px;
    padding: 25px 25px 20px;
    max-width: 397px;
    border-radius: 2px;
    background-color: #ffffff;

    &:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
        text-decoration: none;
    }

    &__img {
        flex: 0 0 auto;
        width: 90px;
        text-align: center;
    }

    &__body {
        flex: 1 1 auto;
        padding-left: 22px;
    }

    &__name {
        color: #000000;
        letter-spacing: 0.03em;
        font-weight: bold;
        font-size: 18px;
    }

    &__place {
        color: #000000;
        line-height: 1.2;
    }

    &__date {
        color: #858b92;
        font-size: 14px;
    }

    &__icon {
        position: absolute;
        right: 16px;
        bottom: 16px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #000000 url(../images/icon-link.svg) center no-repeat;

        .event:hover & {
            background-color: $color-primary;
        }
    }
}

.button-pdf {
    position: relative;
    padding-left: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 18px;
    color: $color-primary;

    &:hover {
        color: $color-primary;

        &::before {
            left: 5px;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 28px;
        height: 32px;
        background: url(../images/icon-pdf.svg) center no-repeat;
        background-size: 28px 32px;
        content: "";
        transform: translateY(-50%);
        transition: left 0.1s linear;
    }
}