.slider-main {
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 60px 140px 140px 140px;
        width: 100%;
        height: 100%;
    }

    &__name {
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-weight: 900;
        font-size: 54px;

        @media (max-width: $media-width) {
            letter-spacing: 0.05em;
            font-size: 48px;
        }
    }

    &__subname {
        margin: 0 0 30px;
        color: #f2f2f2;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.2;
    }

    &__button {
        padding: 8px 55px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
    }

    .swiper-pagination-bullet {
        margin: 0 10px;
        width: 40px;
        height: 6px;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.5);

        &-active {
            background-color: $color-primary;
        }
    }

    &.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 10px;
    }

    &.swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 60px;
        margin-left: 140px;
        text-align-last: left;
    }
}

.slider-years {

    &__slide {
        display: inline-block;
        width: auto;
        font-size: 32px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;

        &.swiper-slide-active {
            color: $color-primary;
        }
    }

    .swiper-button-next, .swiper-button-prev {
        margin: -9px 0 0;
        border-top: 6px solid #000;
        border-left: 6px solid #000;
        width: 18px;
        height: 18px;
        transform: rotate(-45deg);
        background: none;

        &:hover {
            border-color: $color-primary !important;
        }
    }

    .swiper-button-next {
        transform: rotate(135deg);
    }
}

.fresh {
    overflow: hidden;
    padding: 30px 50px 20px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    background-color: #ffffff;

    &__name {
        margin: 0 0 15px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 24px;
    }

    &__subname {
        margin: 0 0 20px;
        color: #333333;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 18px;
        line-height: 1.4;
    }

    &__img {
        margin: 0 0 20px;
    }

    &__link {
        position: relative;
        padding-right: 25px;
        color: $color-primary;
        text-decoration: underline;
        font-size: 12px;

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 20px;
            height: 7px;
            background: url(../images/arrow-fresh.svg) center no-repeat;
            background-size: 20px 7px;
            content: "";
            transform: translateY(-50%);
        }
    }
}

.article {
    display: block;
    margin: 0 0 25px;
    height: calc(100% - 25px);
    background-color: #333333;

    &__body {
        padding: 10px 20px;
    }

    &__name {
        margin: 10px 0;
        color: #ffffff;
        letter-spacing: 0.03em;
        font-weight: bold;
        font-size: 18px;
    }

    &__subname {
        margin: 10px 0;
        color: #828282;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.2;

        .article:hover & {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &:hover {
        background-color: $color-primary;
        text-decoration: none;
    }
}

.google-play {
    padding: 30px 0;
    background-color: #000000;
    color: #ffffff;
    letter-spacing: 0.03em;
    font-size: 18px;
}

.tabs {
    margin: 0 -12px;

    &__link {
        margin: 0 12px 12px;
        min-width: 260px;
        border: 1px solid #333333;
        color: #333333;
        text-align: center;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 4px;

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }

        &.active {
            border-color: $color-primary;
        }
    }
}

.event {
    display: flex;
    position: relative;
    padding: 25px 25px 20px;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 0 30px;
    max-width: 397px;

    &:hover {
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
        text-decoration: none;
    }

    &__img {
        flex: 0 0 auto;
        width: 90px;
        text-align: center;
    }

    &__body {
        flex: 1 1 auto;
        padding-left: 22px;
    }

    &__name {
        color: #000;
        font-size: 18px;
        letter-spacing: 0.03em;
        font-weight: bold;
    }

    &__place {
        color: #000;
        line-height: 1.2;
    }

    &__date {
        color: #858B92;
        font-size: 14px;
    }

    &__icon {
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #000 url(../images/icon-link.svg) center no-repeat;

        .event:hover & {
            background-color: $color-primary;
        }
    }
}

.button-pdf {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.05em;
    padding-left: 40px;
    position: relative;

    &::before {
        width: 28px;
        height: 32px;
        position: absolute;
        content: "";
        background: url(../images/icon-pdf.svg) center no-repeat;
        background-size: 28px 32px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}