.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    height: $header-height;
    border-bottom: 1px solid transparent;
    background-color: #ffffff;
    transition: height 0.3s ease-in-out, border 0.3s ease-in-out;

    .site-srolled & {
        height: $header-height-sm;
        // border-color: #ececec;
    }
}

.site-lang {
    margin: 0 0 20px;
    color: #bdbdbd;
    transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;

    &__item {
        color: #bdbdbd;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        font-size: 18px;

        &:hover {
            color: $color-primary;
            text-decoration: none;
        }

        &.is-active {
            color: $color-primary;
            font-weight: bold;
        }
    }

    &__dash {
        display: inline-block;
        margin: 0 10px 0 6px;
        font-size: 24px;
    }

    .site-srolled & {
        opacity: 0;
        margin-top: -50px;
    }
}

.menu-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -10px;
    padding: 0;
    list-style: none;

    &__item {
        margin: 0 10px;
    }

    &__link {
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        font-size: 18px;

        &:hover {
            color: $color-primary;
            text-decoration: none;
        }

        &.is-active {
            color: $color-primary;
            font-weight: bold;
        }
    }
}

.button-search, .button-login {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
}

.button-search {
    background-image: url(../images/icon-search.svg);
}

.button-login {
    background-image: url(../images/icon-login.svg);
}

.bread-crumbs {
    padding: 25px 0;
    font-size: 18px;
    color: #838383;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}