@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 100vh;
    // overflow: hidden;
}

.bs-content {
    font-family: "Ubuntu", sans-serif;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 648px;
    max-height: 904px;
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: linear-gradient(137.39deg, #18a7d4, #6916a9);
    color: #fff;
}

/* ------------------------------------------------------------------- 
 * # Header
 * ------------------------------------------------------------------- */
.bs-header {
    flex: 0 0;
    padding: 24px;
}

.bs-header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    &>div {
        flex: 1 0 auto;
    }

    .bs-phone {
        position: relative;
        padding-left: 30px;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 20px;

        span {
            display: inline-block;
            border-bottom: 1px solid #fff;
            cursor: pointer;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            display: inline-block;
            width: 18px;
            height: 18px;
            background-image: url(../img/bs-phone.svg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            content: "";
            transform: translateY(-50%);
        }
    }

    .bs-help::before {
        display: block;
        width: 26px;
        height: 26px;
        background-image: url(../img/bs-help.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        cursor: pointer;
    }

    .bs-close::before {
        display: block;
        margin-left: auto;
        width: 24px;
        height: 24px;
        background-image: url(../img/bs-close.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        cursor: pointer;
    }
}

.bs-header__title {
    color: #6fcf97;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    .bs-h2 {
        margin-bottom: 0.4em;
        font-weight: 400;
        font-size: 24px;
    }

    .bs-h1 {
        font-weight: 600;
        font-size: 40px;
    }
}


/* ------------------------------------------------------------------- 
 * # Footer
 * ------------------------------------------------------------------- */
.bs-footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex: 0 1 auto;
    flex-wrap: nowrap;
    max-width: 648px;
    width: 100%;
    height: 100px;

    a {
        display: flex;
        align-items: center;
        flex: 1 0;
        justify-content: center;
        height: 100%;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 24px;

        user-select: none;

        &.bs-next,
        &.bs-success {
            background: linear-gradient(to bottom, #6fcf97, #27ae60);

            &:hover {
                background: linear-gradient(to top, #6fcf97, #27ae60);
            }
        }

        &.bs-back {
            background: linear-gradient(to bottom, #80c9e5, #18a7d4);

            &:hover {
                background: linear-gradient(to top, #80c9e5, #18a7d4);
            }
        }
    }
}


/* ------------------------------------------------------------------- 
 * # Main
 * ------------------------------------------------------------------- */
.bs-main {
    display: flex;
    overflow-x: hidden;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 24px 24px 140px 24px;

    .bs-main__title {
        margin-bottom: 0.38em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 600;
        font-size: 40px;
    }
}

.bs-time {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 60px 0;

    .bs-input {
        position: relative;

        input {
            font-family: "Ubuntu", sans-serif;
            width: 100%;
            height: 95px;
            border: none;
            background-color: transparent;
            color: #fff;
            text-align: center;
            letter-spacing: 0.05em;
            font-weight: 500;
            font-size: 120px;
        }

        .bs-plus,
        .bs-minus {
            position: absolute;
            left: 50%;
            display: block;
            width: 77px;
            height: 40px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            content: "";
            cursor: pointer;
            transform: translateX(-50%);
        }

        .bs-plus {
            top: -50px;
            background-image: url(../img/trigonUp.svg);
        }

        .bs-minus {
            bottom: -50px;
            background-image: url(../img/trigonDown.svg);
        }
    }
}

.bs-time-2::before {
    position: absolute;
    top: -8px;
    top: calc(50% - 10px);
    left: 50%;
    display: block;
    content: ":";
    font-size: 100px;
    transform: translate(-50%, -50%);
}

.bs-time-1 {
    padding: 20px 0;

    .bs-input {

        .bs-plus,
        .bs-minus {
            top: 50%;
            width: 40px;
            height: 77px;
            transform: translate(-50%, -50%);
        }

        .bs-plus {
            left: calc(50% + 100px);
            background-image: url(../img/trigonRight.svg);
        }

        .bs-minus {
            left: calc(50% - 100px);
            background-image: url(../img/trigonLeft.svg);
        }
    }
}

/* ------------------------------------------------------------------- 
 * # Calendar
 * ------------------------------------------------------------------- */
.bs-calendar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

#Datepickk {
    flex: 1 1 auto;

    .d-calendar,
    .d-header {
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 32px;
    }

    .d-table {
        min-height: 320px;
    }

    .d-table input+label {
        color: #fff;

        &:before {
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            border-radius: 35px;
            background: linear-gradient(to top, #27ae60, #6fcf97);
            opacity: 0;
            transition: opacity 0.1s linear;
            transform: translate(-50%, -50%);
            transform-origin: center;
        }

        &.next,
        &.prev {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .d-table input:checked+label:before {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    .d-tables:not(.locked) input:not(:checked)+label:not(.hidden):hover {
        background-color: transparent;
        color: #fff;
    }

    .d-header i {
        width: 35px;
        height: 22px;
        border-radius: 0;
        background-size: cover;
        background-repeat: no-repeat;

        &#d-previous {
            left: 0;
            background-image: url(../img/calendar-arrow-prev.svg);
            background-position: center left;
        }

        &#d-next {
            right: 0;
            background-image: url(../img/calendar-arrow-next.svg);
            background-position: center right;
        }

        &::before,
        &::after {
            display: none;
        }

        &:hover {
            background-color: transparent;
        }
    }

    .d-month-picker,
    .d-year-picker,
    .d-weekdays {
        display: none;
    }
}


/* ------------------------------------------------------------------- 
 * # Slide
 * ------------------------------------------------------------------- */
.bs-main>div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    // animation: bs-show 0.4s;
}

.bs-1 .bs-back {
    display: none;
}

@for $i from 1 through 6 {
    .bs-main .bs-slide#{$i} {
        display: none;

        .bs-#{$i} & {
            display: flex;
        }
    }
}

.bs-footer .bs-submit,
.bs-footer .bs-success {
    display: none;
}

.bs-4 .bs-footer .bs-next {
    display: none;
    &.bs-submit {
        display: flex;
    }
}

.bs-5 .bs-footer a {
    display: none;
    &.bs-success {
        display: flex;
    }
}


/* ------------------------------------------------------------------- 
 * # Form
 * ------------------------------------------------------------------- */
.bs-form {
    p {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.05em;
        padding-left: 30px;
        margin-bottom: 20px;
    }

    input {
        padding: 0 30px;
        width: 100%;
        height: 85px;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #828282;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 60px;
    }
}


/* ------------------------------------------------------------------- 
 * # Media
 * ------------------------------------------------------------------- */
@media (max-width: 568px) {
    .bs-content {
        border-radius: 0;
    }

    .bs-header {
        padding: 10px 20px;
    }

    .bs-header__info {
        margin-bottom: 20px;
    }

    .bs-header__info .bs-phone {
        font-size: 14px;
    }

    .bs-header__info .bs-help::before {
        margin-left: auto;
        width: 20px;
        height: 20px;
    }

    .bs-header__info .bs-close::before {
        width: 18px;
        height: 18px;
    }

    .bs-header__title .bs-h2 {
        font-size: 16px;
    }

    .bs-header__title .bs-h1 {
        font-size: 20px;
    }

    .bs-footer {
        max-width: none;
        height: 49px;
    }

    .bs-footer a {
        font-size: 16px;
    }

    .bs-main {
        padding: 10px 20px 89px 20px;
    }

    .bs-main .bs-main__title {
        font-size: 20px;
    }

    #Datepickk {
        .d-table {
            min-height: 225px;
        }

        .d-header {
            font-size: 20px;
        }

        .d-tables {
            font-size: 16px;
        }

        .d-table input+label {
            &:before {
                width: 32px;
                height: 32px;
            }
        }

        .d-header i {
            width: 25px;
        }
    }

    .bs-time .bs-input input {
        height: 50px;
        font-size: 60px;
    }

    .bs-time-2::before {
        top: 50%;
        font-size: 60px;
    }

    .bs-time-1 .bs-input .bs-minus {
        left: calc(50% - 65px);
    }

    .bs-time-1 .bs-input .bs-plus {
        left: calc(50% + 65px);
    }

    .bs-time .bs-input .bs-plus,
    .bs-time .bs-input .bs-minus {
        width: 60px;
        height: 32px;
    }

    .bs-time-1 .bs-input .bs-minus,
    .bs-time-1 .bs-input .bs-plus {
        width: 32px;
        height: 60px;
    }
}

@media (max-height:567px) {
    .bs-content {
        max-width: none;
        border-radius: 0;
    }

    .bs-header {
        padding: 20px 20px 10px 20px;
    }

    .bs-header__info {
        margin-bottom: 15px;
    }

    .bs-header__info .bs-phone {
        font-size: 14px;
    }

    .bs-header__info .bs-help::before {
        margin-left: auto;
        width: 20px;
        height: 20px;
    }

    .bs-header__info .bs-close::before {
        width: 18px;
        height: 18px;
    }

    .bs-header__title .bs-h2 {
        font-size: 16px;
    }

    .bs-header__title .bs-h1 {
        font-size: 20px;
    }

    .bs-footer {
        max-width: none;
        height: 49px;
    }

    .bs-footer a {
        font-size: 16px;
    }

    .bs-main {
        padding: 10px 20px 89px 20px;
    }

    .bs-main .bs-main__title {
        font-size: 20px;
    }

    #Datepickk {
        .d-header {
            font-size: 20px;
        }

        .d-tables {
            font-size: 16px;
        }

        .d-table input+label {
            &:before {
                width: 32px;
                height: 32px;
            }
        }

        .d-header i {
            width: 25px;
        }
    }

    .bs-time .bs-input input {
        height: 50px;
        font-size: 60px;
    }

    .bs-time-2::before {
        top: 50%;
        font-size: 60px;
    }

    .bs-time-1 .bs-input .bs-minus {
        left: calc(50% - 65px);
    }

    .bs-time-1 .bs-input .bs-plus {
        left: calc(50% + 65px);
    }

    .bs-time .bs-input .bs-plus,
    .bs-time .bs-input .bs-minus {
        width: 60px;
        height: 32px;
    }

    .bs-time-1 .bs-input .bs-minus,
    .bs-time-1 .bs-input .bs-plus {
        width: 32px;
        height: 60px;
    }
}

@keyframes bs-show {
    0% {
        opacity: 0;
        bottom: -100px;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}