@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.bs-content {
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100vh;
  max-width: 648px;
  max-height: 904px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: linear-gradient(137.39deg, #18a7d4, #6916a9);
  color: #ffffff;
}

@media (max-width: 648px) {
  .bs-content {
    border-radius: 0;
  }
}

/* ------------------------------------------------------------------- 
 * # Header
 * ------------------------------------------------------------------- */
.bs-header {
  padding: 24px;
  overflow: hidden;
}

@media (max-width: 568px) {
  .bs-header {
    padding: 20px;
  }
}

.bs-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  color: #ffffff;
}

.bs-header__info > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bs-header__info .bs-phone {
  position: relative;
  padding-left: 30px;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 568px) {
  .bs-header__info .bs-phone {
    font-size: 14px;
  }
}

.bs-header__info .bs-phone span {
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.bs-header__info .bs-phone::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../img/bs-phone.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bs-header__info .bs-help::before {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(../img/bs-help.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  cursor: pointer;
}

@media (max-width: 568px) {
  .bs-header__info .bs-help::before {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }
}

.bs-header__info .bs-close::before {
  display: block;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background-image: url(../img/bs-close.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  cursor: pointer;
}

@media (max-width: 568px) {
  .bs-header__info .bs-close::before {
    width: 18px;
    height: 18px;
  }
}

.bs-header__title {
  color: #6fcf97;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.bs-header__title .bs-h2 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 568px) {
  .bs-header__title .bs-h2 {
    font-size: 16px;
  }
}

.bs-header__title .bs-h1 {
  font-weight: 600;
  font-size: 40px;
}

@media (max-width: 568px) {
  .bs-header__title .bs-h1 {
    font-size: 20px;
  }
}

/* ------------------------------------------------------------------- 
 * # Footer
 * ------------------------------------------------------------------- */
.bs-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 568px) {
  .bs-footer {
    height: 49px;
  }
}

.bs-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 568px) {
  .bs-footer a {
    font-size: 16px;
  }
}

.bs-footer a.bs-next {
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#27ae60));
  background: linear-gradient(to bottom, #6fcf97, #27ae60);
}

.bs-footer a.bs-next:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#6fcf97), to(#27ae60));
  background: linear-gradient(to top, #6fcf97, #27ae60);
}

.bs-footer a.bs-back {
  background: -webkit-gradient(linear, left top, left bottom, from(#80c9e5), to(#18a7d4));
  background: linear-gradient(to bottom, #80c9e5, #18a7d4);
}

.bs-footer a.bs-back:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#80c9e5), to(#18a7d4));
  background: linear-gradient(to top, #80c9e5, #18a7d4);
}

/* ------------------------------------------------------------------- 
 * # Main
 * ------------------------------------------------------------------- */
.bs-main {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 24px;
}

@media (max-width: 568px) {
  .bs-main {
    padding: 5px 20px;
  }
}

.bs-main .bs-main__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 15px;
}

@media (max-width: 568px) {
  .bs-main .bs-main__title {
    font-size: 20px;
  }
}

/* ------------------------------------------------------------------- 
 * # Calendar
 * ------------------------------------------------------------------- */
.bs-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#Datepickk {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#Datepickk .d-calendar,
#Datepickk .d-header {
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 15px;
}

@media (max-width: 568px) {
  #Datepickk .d-calendar,
  #Datepickk .d-header {
    font-size: 20px;
  }
}

@media (max-width: 568px) {
  #Datepickk .d-tables {
    font-size: 16px;
  }
}

#Datepickk .d-table input + label {
  color: #ffffff;
}

#Datepickk .d-table input + label:before {
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
  border-radius: 35px;
  background: -webkit-gradient(linear, left bottom, left top, from(#27ae60), to(#6fcf97));
  background: linear-gradient(to top, #27ae60, #6fcf97);
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media (max-width: 568px) {
  #Datepickk .d-table input + label:before {
    width: 32px;
    height: 32px;
  }
}

#Datepickk .d-table input + label.next, #Datepickk .d-table input + label.prev {
  color: rgba(255, 255, 255, 0.5);
}

#Datepickk .d-table input:checked + label:before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#Datepickk .d-weekdays {
  display: none;
}

#Datepickk .d-tables:not(.locked) input:not(:checked) + label:not(.hidden):hover {
  background-color: transparent;
  color: #ffffff;
}

#Datepickk .d-header i {
  width: 35px;
  height: 22px;
  border-radius: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 568px) {
  #Datepickk .d-header i {
    width: 25px;
  }
}

#Datepickk .d-header i#d-previous {
  background-image: url(../img/calendar-arrow-prev.svg);
  background-position: center left;
  left: 0;
}

#Datepickk .d-header i#d-next {
  background-image: url(../img/calendar-arrow-next.svg);
  background-position: center right;
  right: 0;
}

#Datepickk .d-header i::before, #Datepickk .d-header i::after {
  display: none;
}

#Datepickk .d-header i:hover {
  background-color: transparent;
}

@media (max-height: 568px) {
  .bs-content {
    max-width: none;
    border-radius: 0;
  }
  .bs-footer {
    height: 32px;
  }
  .bs-footer a {
    font-size: 18px;
  }
  #Datepickk .d-tables {
    font-size: 16px;
  }
  #Datepickk .d-table input + label:before {
    width: 32px;
    height: 32px;
  }
  #Datepickk .d-month-picker.d-show,
  #Datepickk .d-year-picker.d-show {
    display: none;
  }
  #Datepickk .d-header p {
    margin: 2px 0;
  }
  #Datepickk.inline.d-show .d-calendar {
    margin-bottom: 0;
  }
  #Datepickk .d-header {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .bs-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .bs-main {
    padding-top: 0;
  }
  .bs-header__title .bs-h1 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .bs-main .bs-main__title {
    display: none;
  }
  .bs-header__title .bs-h2 {
    font-size: 16px;
  }
  .bs-header__info {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */