@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic");

$media-sm: 568px;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bs-content {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    max-width: 648px;
    max-height: 904px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: linear-gradient(137.39deg, #18a7d4, #6916a9);
    color: #ffffff;

    @media (max-width: 648px) {
        border-radius: 0;
    }
}

/* ------------------------------------------------------------------- 
 * # Header
 * ------------------------------------------------------------------- */
.bs-header {
    padding: 24px;
    overflow: hidden;

    @media(max-width: $media-sm) {
        padding: 20px;
    }
}

.bs-header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #ffffff;

    &>div {
        flex-grow: 1;
    }

    .bs-phone {
        position: relative;
        padding-left: 30px;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 20px;

        @media(max-width: $media-sm) {
            font-size: 14px;
        }

        span {
            display: inline-block;
            border-bottom: 1px solid #ffffff;
            cursor: pointer;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 18px;
            height: 18px;
            background-image: url(../img/bs-phone.svg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            content: "";
            transform: translateY(-50%);
        }
    }

    .bs-help::before {
        display: block;
        width: 26px;
        height: 26px;
        background-image: url(../img/bs-help.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        cursor: pointer;

        @media(max-width: $media-sm) {
            width: 20px;
            height: 20px;
            margin-left: auto;
        }
    }

    .bs-close::before {
        display: block;
        margin-left: auto;
        width: 24px;
        height: 24px;
        background-image: url(../img/bs-close.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        cursor: pointer;

        @media(max-width: $media-sm) {
            width: 18px;
            height: 18px;
        }
    }
}

.bs-header__title {
    color: #6fcf97;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    .bs-h2 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 24px;

        @media(max-width: $media-sm) {
            font-size: 16px;
        }
    }

    .bs-h1 {
        font-weight: 600;
        font-size: 40px;

        @media(max-width: $media-sm) {
            font-size: 20px;
        }
    }
}


/* ------------------------------------------------------------------- 
 * # Footer
 * ------------------------------------------------------------------- */
.bs-footer {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    height: 100px;
    flex-shrink: 0;

    @media(max-width: $media-sm) {
        height: 49px;
    }

    a {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        height: 100%;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 24px;
        user-select: none;

        @media(max-width: $media-sm) {
            font-size: 16px;
        }

        &.bs-next {
            background: linear-gradient(to bottom, #6fcf97, #27ae60);

            &:hover {
                background: linear-gradient(to top, #6fcf97, #27ae60);
            }
        }

        &.bs-back {
            background: linear-gradient(to bottom, #80c9e5, #18a7d4);

            &:hover {
                background: linear-gradient(to top, #80c9e5, #18a7d4);
            }
        }
    }
}


/* ------------------------------------------------------------------- 
 * # Main
 * ------------------------------------------------------------------- */
.bs-main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px;

    .bs-main__title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 15px;

        @media(max-width: $media-sm) {
            font-size: 20px;
        }
    }
}


/* ------------------------------------------------------------------- 
 * # Calendar
 * ------------------------------------------------------------------- */
.bs-calendar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#Datepickk {
    flex-grow: 1;

    .d-calendar,
    .d-header {
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 15px;

        @media(max-width: $media-sm) {
            font-size: 20px;
        }
    }

    .d-tables {
        @media(max-width: $media-sm) {
            font-size: 16px;
        }
    }

    .d-table input+label {
        // padding: 18px 12px;
        color: #ffffff;

        &:before {
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            border-radius: 35px;
            background: linear-gradient(to top, #27ae60, #6fcf97);
            opacity: 0;
            transition: opacity 0.1s linear;
            transform: translate(-50%, -50%);
            transform-origin: center;

            @media(max-width: $media-sm) {
                width: 37px;
                height: 37px;
            }
        }

        &.next,
        &.prev {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .d-table input:checked+label:before {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    .d-weekdays {
        display: none;
    }

    .d-tables:not(.locked) input:not(:checked)+label:not(.hidden):hover {
        background-color: transparent;
        color: #ffffff;
    }

    .d-header i {
        width: 35px;
        height: 22px;
        border-radius: 0;
        background-size: cover;
        background-repeat: no-repeat;

        @media(max-width: $media-sm) {
            width: 25px;
        }

        &#d-previous {
            background-image: url(../img/calendar-arrow-prev.svg);
            background-position: center left;
            left: 0;
        }

        &#d-next {
            background-image: url(../img/calendar-arrow-next.svg);
            background-position: center right;
            right: 0;
        }

        &::before,
        &::after {
            display: none;
        }

        &:hover {
            background-color: transparent;
        }
    }
}