@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic");


body {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    // overflow: hidden;
}

.bs-content {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 648px;
    max-height: 904px;
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: linear-gradient(137.39deg, #18a7d4, #6916a9);
    color: #fff;
}

/* ------------------------------------------------------------------- 
 * # Header
 * ------------------------------------------------------------------- */
.bs-header {
    overflow: hidden;
    flex-shrink: 0;
    padding: 24px;
}

.bs-header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #fff;

    &>div {
        flex-grow: 1;
    }

    .bs-phone {
        position: relative;
        padding-left: 30px;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 20px;

        span {
            display: inline-block;
            border-bottom: 1px solid #fff;
            cursor: pointer;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 18px;
            height: 18px;
            background-image: url(../img/bs-phone.svg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            content: "";
            transform: translateY(-50%);
        }
    }

    .bs-help::before {
        display: block;
        width: 26px;
        height: 26px;
        background-image: url(../img/bs-help.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        cursor: pointer;
    }

    .bs-close::before {
        display: block;
        margin-left: auto;
        width: 24px;
        height: 24px;
        background-image: url(../img/bs-close.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        cursor: pointer;
    }
}

.bs-header__title {
    color: #6fcf97;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    .bs-h2 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 24px;
    }

    .bs-h1 {
        font-weight: 600;
        font-size: 40px;
    }
}


/* ------------------------------------------------------------------- 
 * # Footer
 * ------------------------------------------------------------------- */
.bs-footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 648px;
    height: 100px;

    a {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        height: 100%;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 24px;

        user-select: none;

        &.bs-next {
            background: linear-gradient(to bottom, #6fcf97, #27ae60);

            &:hover {
                background: linear-gradient(to top, #6fcf97, #27ae60);
            }
        }

        &.bs-back {
            background: linear-gradient(to bottom, #80c9e5, #18a7d4);

            &:hover {
                background: linear-gradient(to top, #80c9e5, #18a7d4);
            }
        }
    }
}


/* ------------------------------------------------------------------- 
 * # Main
 * ------------------------------------------------------------------- */
.bs-main {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px 24px 100px 24px;

    .bs-main__title {
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 600;
        font-size: 40px;
    }
}


/* ------------------------------------------------------------------- 
 * # Calendar
 * ------------------------------------------------------------------- */
.bs-calendar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#Datepickk {
    user-select: auto;
    flex-grow: 1;

    .d-calendar,
    .d-header {
        margin-bottom: 15px;
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 32px;
    }

    .d-table {
        min-height: 320px;
    }

    .d-table input+label {
        color: #fff;

        &:before {
            top: 50%;
            left: 50%;
            width: 55px;
            height: 55px;
            border-radius: 35px;
            background: linear-gradient(to top, #27ae60, #6fcf97);
            opacity: 0;
            transition: opacity 0.1s linear;
            transform: translate(-50%, -50%);
            transform-origin: center;
        }

        &.next,
        &.prev {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .d-table input:checked+label:before {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    .d-weekdays {
        display: none;
    }

    .d-tables:not(.locked) input:not(:checked)+label:not(.hidden):hover {
        background-color: transparent;
        color: #fff;
    }

    .d-header i {
        width: 35px;
        height: 22px;
        border-radius: 0;
        background-size: cover;
        background-repeat: no-repeat;

        &#d-previous {
            left: 0;
            background-image: url(../img/calendar-arrow-prev.svg);
            background-position: center left;
        }

        &#d-next {
            right: 0;
            background-image: url(../img/calendar-arrow-next.svg);
            background-position: center right;
        }

        &::before,
        &::after {
            display: none;
        }

        &:hover {
            background-color: transparent;
        }
    }
}


/* ------------------------------------------------------------------- 
 * # Media
 * ------------------------------------------------------------------- */
@media (max-width: 568px) {
    .bs-content {
        border-radius: 0;
    }

    .bs-header {
        padding: 10px 20px;
    }

    .bs-header__info {
        margin-bottom: 10px;
    }

    .bs-header__info .bs-phone {
        font-size: 14px;
    }

    .bs-header__info .bs-help::before {
        margin-left: auto;
        width: 20px;
        height: 20px;
    }

    .bs-header__info .bs-close::before {
        width: 18px;
        height: 18px;
    }

    .bs-header__title {
        padding: 15px 0;
    }

    .bs-header__title .bs-h1 {
        font-size: 20px;
    }

    .bs-header__title .bs-h2 {
        font-size: 16px;
    }

    .bs-footer {
        height: 49px;
        max-width: none;
    }

    .bs-footer a {
        font-size: 16px;
    }

    .bs-main {
        padding: 5px 20px 60px 20px;
    }

    .bs-main .bs-main__title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    #Datepickk {
        .d-table {
            min-height: 225px;
        }

        .d-header {
            margin-bottom: 5px;
            font-size: 20px;
        }

        .d-tables {
            font-size: 16px;
        }

        .d-table input+label {
            &:before {
                width: 32px;
                height: 32px;
            }
        }

        .d-header i {
            width: 25px;
        }
    }
}

@media (max-height:567px) {
    .bs-content {
        max-width: none;
        border-radius: 0;
    }

    .bs-header {
        padding-bottom: 10px;
    }

    .bs-header__info {
        margin-bottom: 15px;
    }

    .bs-header__info .bs-phone {
        font-size: 14px;
    }

    .bs-header__info .bs-help::before {
        margin-left: auto;
        width: 20px;
        height: 20px;
    }

    .bs-header__info .bs-close::before {
        width: 18px;
        height: 18px;
    }

    .bs-header__title .bs-h1 {
        font-size: 20px;
    }

    .bs-header__title .bs-h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .bs-footer {
        height: 40px;
        max-width: none;
    }

    #Datepickk .d-calendar {
        margin-bottom: 5px;
    }

    .bs-footer a {
        font-size: 16px;
    }

    .bs-main {
        padding: 10px 20px 50px 20px;
    }

    .bs-main .bs-main__title {
        font-size: 20px;
    }

    #Datepickk {

        .d-header {
            margin-bottom: 5px;
            font-size: 20px;
        }

        .d-tables {
            font-size: 16px;
        }

        .d-table input+label {
            &:before {
                width: 30px;
                height: 30px;
            }
        }

        .d-header i {
            width: 25px;
        }
    }

    #Datepickk .d-month-picker,
    #Datepickk .d-year-picker {
        display: none;
    }
}

/* @media (max-height: 340px) {
    .bs-footer {
        height: 25px;
    }
    #Datepickk .d-header {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .bs-header__title .bs-h1 {
        font-size: 16px;
    }
    #Datepickk .d-table input + label:before {
        width: 70%;
        height: 100%;
    }
    #Datepickk .d-table input+label.today text:before {
        display: none;
    }
} */