.footer-vsemedu {
    height: 218px;
    background-color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    p {
        margin: 0;
        span, a {
            color: #FFD244;
            text-transform: uppercase;
        }
    }
    .underground {
        text-decoration: none;
        color: inherit;
        margin-top: 16px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.giveme-arrow {
    position: relative;
    &::before, &::after {
        content: "";
        width: 12px;
        height: 7px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &::before {
        background-image: url(../img/giveme-arrow.svg);
        left: -18px;
    }
    &::after {
        background-image: url(../img/giveme-arrow2.svg);
        right: -18px;
    }
}

.tarelka {
    position: relative;
    width: 73px;
    height: 81px;
    margin-bottom: 10px;
    background-image: url(../img/tarelka.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-vsemedu-logo {
    position: absolute;
    top: 18px;
    left: 8px;
    width: 53px;
    height: 46px;
    background-image: url(../img/vsemedu-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    animation: vsemedu 7s infinite linear 3.5s;
    animation-play-state: paused;
    &.active {
        animation-play-state: running;
    }
    cursor: pointer;
}



.vertelka {
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    animation: vertelka 7s infinite linear;
    animation-play-state: paused;
    &.active {
        animation-play-state: running;
    }
}

.vilka, .lojka {
    width: 16px;
    height: 53px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.vilka {
    left: -18px;
}

.lojka {
    right: -17px;
}

@keyframes vsemedu {
    0% {
        background-image: url(../img/vsemedu-logo.svg);
    }
    5% {
        background-image: url(../img/vsemedu-logo1.svg);
    }
    15% {
        background-image: url(../img/vsemedu-logo1.svg);
    }
    20% {
        background-image: url(../img/vsemedu-logo2.svg);
    }
    25% {
        background-image: url(../img/vsemedu-logo2.svg);
    }
    27% {
        background-image: url(../img/vsemedu-logo3.png);
    }
    35% {
        background-image: url(../img/vsemedu-logo3.png);
    }
    40% {
        background-image: url(../img/vsemedu-logo.svg);
    }
    100% {
        background-image: url(../img/vsemedu-logo.svg);
    }
}

@keyframes vertelka {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}