.footer-vsemedu {
  height: 218px;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
}

.footer-vsemedu p {
  margin: 0;
}

.footer-vsemedu p span, .footer-vsemedu p a {
  color: #FFD244;
  text-transform: uppercase;
}

.footer-vsemedu .underground {
  text-decoration: none;
  color: inherit;
  margin-top: 16px;
}

.footer-vsemedu .underground:hover {
  text-decoration: underline;
}

.giveme-arrow {
  position: relative;
}

.giveme-arrow::before, .giveme-arrow::after {
  content: "";
  width: 12px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.giveme-arrow::before {
  background-image: url(../img/giveme-arrow.svg);
  left: -18px;
}

.giveme-arrow::after {
  background-image: url(../img/giveme-arrow2.svg);
  right: -18px;
}

.tarelka {
  position: relative;
  width: 73px;
  height: 81px;
  margin-bottom: 10px;
  background-image: url(../img/tarelka.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-vsemedu-logo {
  position: absolute;
  top: 18px;
  left: 8px;
  width: 53px;
  height: 46px;
  background-image: url(../img/vsemedu-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: vsemedu 7s infinite linear;
          animation: vsemedu 7s infinite linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}

.footer-vsemedu-logo.active {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.vertelka {
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: vertelka 7s infinite linear;
          animation: vertelka 7s infinite linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.vertelka.active {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.vilka, .lojka {
  width: 16px;
  height: 53px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vilka {
  left: -18px;
}

.lojka {
  right: -17px;
}

@-webkit-keyframes vsemedu {
  0% {
    background-image: url(../img/vsemedu-logo.svg);
  }
  5% {
    background-image: url(../img/vsemedu-logo1.svg);
  }
  15% {
    background-image: url(../img/vsemedu-logo1.svg);
  }
  20% {
    background-image: url(../img/vsemedu-logo2.svg);
  }
  25% {
    background-image: url(../img/vsemedu-logo2.svg);
  }
  27% {
    background-image: url(../img/vsemedu-logo3.png);
  }
  35% {
    background-image: url(../img/vsemedu-logo3.png);
  }
  40% {
    background-image: url(../img/vsemedu-logo.svg);
  }
  100% {
    background-image: url(../img/vsemedu-logo.svg);
  }
}

@keyframes vsemedu {
  0% {
    background-image: url(../img/vsemedu-logo.svg);
  }
  5% {
    background-image: url(../img/vsemedu-logo1.svg);
  }
  15% {
    background-image: url(../img/vsemedu-logo1.svg);
  }
  20% {
    background-image: url(../img/vsemedu-logo2.svg);
  }
  25% {
    background-image: url(../img/vsemedu-logo2.svg);
  }
  27% {
    background-image: url(../img/vsemedu-logo3.png);
  }
  35% {
    background-image: url(../img/vsemedu-logo3.png);
  }
  40% {
    background-image: url(../img/vsemedu-logo.svg);
  }
  100% {
    background-image: url(../img/vsemedu-logo.svg);
  }
}

@-webkit-keyframes vertelka {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes vertelka {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=footer-vsemedu.css.map */