* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.footer-vsemedu {
    padding-top: 20px;
    height: 218px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-vsemedu {
    width: 49px;
    height: 44px;
    background-image: url(../logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
}

.circle {
    position: relative;
    width: 49px;
    height: 44px;
    // border: 1px solid #fff;
    animation: 4s infinite edu linear;
}

.vector1 {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.vector2 {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes edu {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

p {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    span {
        color: #FFD244;
        text-transform: uppercase;
    }
    a {
        position: relative;
        text-decoration: none;
        color: #FFD244;
        border-bottom: 1px solid #FFD244;
    }
    .arrow1 {
        transform: rotate(180deg);
    }
    .arrow1, .arrow2 {
        margin: 0 6px;
    }
    &.q {
        margin-top: 20px;
    }
}
