@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic");
html { height: 100%; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; overflow-x: hidden; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100%; font-size: 14px; }

.top-bar { border-bottom: 1px solid #bdbdbd; background-color: #f2f2f2; }

.top-bar-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin: 0; padding: 0; list-style: none; }

.top-bar-menu li { margin-left: 80px; }

.top-bar-menu a { position: relative; display: block; color: #828282; white-space: nowrap; font-weight: 300; font-size: 14px; line-height: 30px; -webkit-transition: 0.15s ease; transition: 0.15s ease; }

.top-bar-menu a::before { position: absolute; top: 50%; left: -15px; width: 9px; height: 9px; background-image: url(../img/top-bar-menu-element-icon.svg); background-position: center; background-size: cover; background-repeat: no-repeat; content: ""; -webkit-transition: 0.15s ease; transition: 0.15s ease; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.top-bar-menu a:hover { color: #eb5757; }

.top-bar-menu a:hover::before { left: -12px; }

.main-navbar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 50px; border-radius: 24px; background-color: #eb5757; }

.main-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0; padding: 0 10px; list-style: none; }

.main-menu li { position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; text-align: center; }

.main-menu a { position: relative; display: inline-block; padding: 0 20px; color: #fff; text-decoration: none; font-size: 16px; line-height: 50px; }

.main-menu a::before { position: absolute; top: calc(50% - 10px); left: 0; width: 17px; height: 17px; background-image: url(../img/main-navbar-element-icon.svg); background-position: center; background-size: cover; background-repeat: no-repeat; content: ""; opacity: 0; -webkit-transition: 0.15s ease; transition: 0.15s ease; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.main-menu a:hover::before { top: 50%; opacity: 1; }

.sub-menu { position: absolute; top: 100%; left: 50%; z-index: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0; padding: 15px 0 0; min-width: 140px; width: 100%; list-style: none; opacity: 0; -webkit-transition: 0.15s ease; transition: 0.15s ease; -webkit-transform: scaleY(0) translateX(-50%); transform: scaleY(0) translateX(-50%); -webkit-transform-origin: top; transform-origin: top; }

.sub-menu a { display: block; padding: 15px 8px; width: 100%; border-right: 1px solid #eb5757; border-left: 1px solid #eb5757; background-color: #fff; color: #eb5757; font-size: 13px; line-height: 1.2; -webkit-transition: color 0.15s; transition: color 0.15s; }

.sub-menu a::before { content: none; }

.sub-menu a:hover { background-color: #eb5757; color: #fff; }

.sub-menu li:first-child a { position: relative; margin-top: -1px; border-top: 1px solid #eb5757; border-top-left-radius: 10px; border-top-right-radius: 10px; }

.sub-menu li:first-child a::before { top: -1px; left: 50%; width: 14px; height: 14px; border-top: 1px solid #eb5757; border-left: 1px solid #eb5757; background-color: #fff; background-image: none; content: ""; opacity: 1; -webkit-transition: none; transition: none; -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); }

.sub-menu li:first-child a:hover::before { background-color: #eb5757; }

.sub-menu li:last-child a { margin-bottom: -1px; border-bottom: 1px solid #eb5757; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }

.main-menu-toggle { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 10px; height: 50px; border-bottom: 1px solid transparent; color: #fff; cursor: pointer; -webkit-transition: 0.4s 0.15s; transition: 0.4s 0.15s; }

.main-menu-toggle.main-menu_is-open { border-color: rgba(255, 255, 255, 0.65); }

.hamburger { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 15px; width: 22px; height: 18px; }

.hamburger span, .hamburger span::before, .hamburger span::after { width: 100%; height: 2px; background-color: #fff; }

.hamburger span::before, .hamburger span::after { position: absolute; content: ""; }

.hamburger span::before { top: 0; }

.hamburger span::after { bottom: 0; }

.sub-menu-toggle { position: absolute; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 21px; height: 50px; cursor: pointer; }

.sub-menu-toggle button { width: 32px; height: 32px; border: none; border-radius: 50%; background-color: #fff; background-image: url(../img/arrow-menu-toggle.svg); background-position: center; background-repeat: no-repeat; cursor: pointer; -webkit-transition: 0.4s ease; transition: 0.4s ease; -webkit-transform: rotate(0); transform: rotate(0); }

.sub-menu-toggle button:focus { outline: none; }

.sub-menu-toggle.sub-menu_is-open button { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

.site-logo img { max-width: 200px; }

.site-city { position: relative; padding-left: 30px; color: #828282; text-decoration: underline; white-space: nowrap; font-weight: 300; font-size: 14px; }

.site-city::before { position: absolute; top: 50%; left: 0; width: 24px; height: 24px; background-image: url(../img/city-icon.svg); background-position: center; background-size: cover; background-repeat: no-repeat; content: ""; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.site-phone { position: relative; padding-left: 30px; white-space: nowrap; letter-spacing: 0.05em; font-size: 18px; }

.site-phone::before { position: absolute; top: 50%; left: 0; width: 24px; height: 24px; background-image: url(../img/phone-icon.svg); background-position: center; background-size: cover; background-repeat: no-repeat; content: ""; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.cabinet, .cart { width: 44px; height: 44px; border-radius: 50%; background-position: center; background-repeat: no-repeat; -webkit-transition: 0.15s ease; transition: 0.15s ease; }

.cabinet { background-color: #bff2b2; background-image: url(../img/cabinet-icon.svg); }

.cabinet:hover { background-color: #a2ec8f; -webkit-box-shadow: 0 0 0 1px #85e66c; box-shadow: 0 0 0 1px #85e66c; }

.cart { background-color: #ffd7d7; background-image: url(../img/cart-icon.svg); }

.cart:hover { background-color: #ffaeae; -webkit-box-shadow: 0 0 0 1px #ff8585; box-shadow: 0 0 0 1px #ff8585; }

.form-simple { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 420px; height: 44px; }

.form-simple input { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 0 45px 0 20px; min-width: 165px; width: 100%; outline: none; border: 1px solid #eb5757; border-radius: 22px; text-overflow: ellipsis; -webkit-transition: 0.15s ease; transition: 0.15s ease; }

.form-simple input::-webkit-input-placeholder { color: #bdbdbd; font-weight: 300; font-size: 14px; }

.form-simple input:-ms-input-placeholder { color: #bdbdbd; font-weight: 300; font-size: 14px; }

.form-simple input::-ms-input-placeholder { color: #bdbdbd; font-weight: 300; font-size: 14px; }

.form-simple input::placeholder { color: #bdbdbd; font-weight: 300; font-size: 14px; }

.form-simple button { position: absolute; top: 0; right: 0; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; padding: 0; width: 44px; height: 44px; outline: none; border: none; border-radius: 50%; background-color: #eb5757; background-image: url(../img/arrow-next.svg); background-position: center; background-repeat: no-repeat; cursor: pointer; -webkit-transition: 0.15s ease; transition: 0.15s ease; }

.form-simple_theme_search button { background-image: url(../img/search-icon.svg); }

.form-simple_theme_subscription input { border-color: #99db89; }

.form-simple_theme_subscription input::-webkit-input-placeholder { font-size: 12px; }

.form-simple_theme_subscription input:-ms-input-placeholder { font-size: 12px; }

.form-simple_theme_subscription input::-ms-input-placeholder { font-size: 12px; }

.form-simple_theme_subscription input::placeholder { font-size: 12px; }

.form-simple_theme_subscription button { background: -webkit-gradient(linear, left top, left bottom, from(#99db89), to(#71c45c)); background: linear-gradient(180deg, #99db89 0%, #71c45c 100%); }

.form-simple_theme_subscription button::before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-image: url(../img/arrow-next.svg); background-position: center; background-repeat: no-repeat; content: ""; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; }

.form-simple_theme_subscription input:focus + button::before, .form-simple_theme_subscription button:hover::before { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

.content { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; color: #333; line-height: 1.3; }

.footer { color: #bdbdbd; font-size: 12px; }

.footer-menu { margin: 0; padding: 0; list-style: none; }

.footer-menu li { margin-bottom: 20px; }

.footer-menu a { color: #828282; -webkit-transition: 0.15s ease; transition: 0.15s ease; }

.footer-menu a:hover { color: #eb5757; }

.footer-border-top { border-top: 1px solid rgba(0, 0, 0, 0.15); }

.payment-cards p { margin-bottom: 15px; color: #828282; }

.payment-cards .payment-cards__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.payment-cards .payment-cards__list img { margin: 0 40px 20px 0; }

.payment-cards .payment-cards__list img:last-child { margin-right: 0; }

.social-icons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -5px; padding: 0; list-style: none; }

.social-icons li { margin: 0 5px 15px; }

.social-icons a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 24px; height: 24px; border-radius: 50%; background-color: #333; -webkit-transition: 0.1s ease; transition: 0.1s ease; }

.social-icons a:hover { background-color: #eb5757; }

@media (max-width: 1279px) { .top-bar-menu li { margin-left: 25px; } }

@media (min-width: 1024px) { .main-menu { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; }
  .main-menu-toggle { display: none; }
  .main-menu a:hover + .sub-menu, .sub-menu:hover { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; opacity: 1; -webkit-transform: scaleY(1) translateX(-50%); transform: scaleY(1) translateX(-50%); }
  .sub-menu-toggle { display: none; } }

@media (max-width: 1023px) { .main-menu { display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0; }
  .main-menu a { width: 100%; }
  .main-menu a::before { content: none; }
  .main-menu a:hover { background-color: #ee6e6e; }
  .main-menu li:last-child a { border-bottom-right-radius: 24px; border-bottom-left-radius: 24px; }
  .main-menu > li { border-bottom: 1px dashed rgba(255, 255, 255, 0.25); }
  .main-menu > li:last-child { border-bottom: none; }
  .sub-menu { position: static; display: none; margin: 0 auto; padding: 0; width: calc(100% - 20px); opacity: 1; -webkit-transition: none; transition: none; -webkit-transform: scale(1); transform: scale(1); }
  .sub-menu a:hover { background-color: #fff1f1; color: #eb5757; }
  .sub-menu li:first-child a::before { content: none; } }
